---
layout: default
---
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{% include html/header.html %}
<div class="root {{page.rootClass}}">
    {{ content }}
</div>
{% include html/footer.html %}
{% if page.headerClass == "invert" %}
<script>
    window.invertedHeader = true;
</script>
{% endif %}
{% include scripts.html %}
{% for resource in page.includes %}
{% include {{resource}} %}
{% endfor %}
