/* Common */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    background-color: #5593d7;
}

.wrapper {
  padding-left: 0;
  padding-right: 0;
}

.inner-wrapper {
  position: relative;
  margin: 0;
}

.transparent-strip-blue:before {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(85,147,215, 0.5);
  z-index: 99;
}

.transparent-strip-top:before {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 99;
}

/* Banner Gradient */
.banner-gradian {
  position: relative;
}
.banner-gradian > div {
  position: relative;
  z-index: 2;
}
.banner-gradian:after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
  /*background: rgba(0,0,0,0.8);
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#fefefe', GradientType=1 );*/
}
/* #Banner Gradient */

/* Header */
header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header .header-base {
  padding: 0 16px;
  position: relative;
}
header .sec-1 {
  padding: 0;
}
header .sec-1 .site-logo {
  height: 70px;
  position: relative;
}

header .sec-1 .site-logo .color-logo {
  display: none;
}

header .sec-1 .site-logo.invert .gray-logo {
  display: none;
}
header .sec-1 .site-logo.invert .color-logo {
  display: block;
}

header .sec-1 .site-logo img {
  width: 150px;
  display: block;
  position: absolute;
  bottom: 18px;
}

header .sec-2 {
  text-align: left;
  padding: 0;
  position: relative;
  height: 70px;
}

/* Primary Navigation */
header .sec-2 .primary-nav {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 16px;
  right: 0;
  float: right;
}

header .sec-2 .primary-nav li {
  list-style: none;
  display: inline-block;
  text-align: center;
  position: relative;
  float: left;
  margin-left: 40px;
}

header .sec-2 .primary-nav > li.selected a {
  /*color: rgb(85, 147, 215);*/
}

header .sec-2 .primary-nav > li:hover a {
  color: rgb(85, 147, 215);
}

header .sec-2 .primary-nav > li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  padding: 0;
  color: #FFF;
}
header .sec-2 .primary-nav > li.link-button {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #FFF;
}
header .sec-2 .primary-nav > li.link-button a {
  color: white;
  padding: 0 16px;
  line-height: 30px;
}
/* #Primary Navigation */

/* Inner Primary Navigation */
header .primary-nav-sub {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #628098;
}

header .primary-nav-sub .primary-nav-sub-base {
  padding-left: 26px;
  margin-bottom: 0;
}

header .primary-nav-sub .primary-nav-sub-base > li {
  display: inline-block;
  list-style: none;
  padding: 0 12px;
}

header .primary-nav-sub .primary-nav-sub-base > li:first-child {
  padding-left: 0;
}

header .primary-nav-sub .primary-nav-sub-base > li:first-child a {
  font-weight: 600;
}

header .primary-nav-sub .primary-nav-sub-base > li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 13px 0;
  font-weight: 300;
}

header .primary-nav-sub .primary-nav-sub-base > li.selected a {
  font-weight: 600;
}
/* #Inner Primary Navigation */

/* Secondary Navigation */
header .secondary-nav {
  text-align: right;
  font-size: 14px;
  position: absolute;
  width: 100%;
  max-width: 240px;
  top: 100%;
  right: 0;
  display: none;
  z-index: 99;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

header .secondary-nav.show {
  display: block;
}

header .secondary-nav .nav-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

header .secondary-nav .nav-list > li {
  background-color: #FFF;
  list-style: none;
}

header .secondary-nav.invert .nav-list > li {
  background-color: #387fc7 !important;
}

header .secondary-nav .nav-list li:hover  {
  background-color: #E0E0E0 !important;
}

header .secondary-nav.invert .nav-list li:hover  {
  background-color: #5593d7 !important;
}

header .secondary-nav.invert .nav-list > li a {
  color: white !important;
}

header .secondary-nav .nav-list > li a {
  width: 100%;
  height: 100%;
  color: gray;
  text-decoration: none;
  line-height: 48px;
  text-align: left;
  padding: 0 16px;
  display: block;
  font-weight: normal;
  font-size: 18px;
}

header .secondary-nav .nav-list > li .secondary-nav-sub {
  margin: 0;
  padding: 0;
  background-color: #456782;
  display: none;
}

header .secondary-nav .nav-list > li .secondary-nav-sub.show {
  display: block;
}

header.invert {
  background-color: #FFF;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

header.invert .sec-2 .primary-nav > li a {
  color: #5593d7;
}

header.invert .sec-2 .primary-nav > li:hover a {
  color: rgb(85, 147, 215);
}

header.invert .sec-2 .primary-nav > li.link-button {
  background-color: rgb(85, 147, 215);
  border-color: rgb(85, 147, 215);
}

header.invert .sec-2 .primary-nav > li.link-button a {
  color: #FFF;
}
header.invert .secNavButton {
  color: gray;
}
header.invert .secNavButton:after {
  background-image: url(../img/drop_arrow_high.svg);
}

/* #Secondary Navigation */

/* Secondary Navigation Button  */
.secNavButton {
  width: 102px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: lowercase;
  padding: 15px 16px 15px 0;
  text-align: center;
}

.secNavButton.selected {
  background-color: white;
  color: gray;
}

.secNavButton.selected:after {
  background-image: url(../img/drop_arrow_high.svg);
  background-image: url(../img/drop_arrow_high.svg);
  transform: rotate(180deg);
}

.secNavButton.active {
  background-color: #628096;
}

.secNavButton.selected.invert {
  color: white !important;
  background-color: #387fc7 !important;
}

.secNavButton.selected.invert:after {
  background-image: url(../img/menu_arrow_down.svg);
}

.secNavButton:after {
  content: "";
  position: absolute;
  top: 0;
  right: 16px;
  width: 12px;
  height: 100%;
  background-image: url(../img/menu_arrow_down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.secNavButton.active:after {
  transform: rotate(180deg);
}
/* #Secondary Navigation Button  */

/* Footer */
footer {
  width: 100%;
  background-color: #1c6fad;
}

footer .brand-list {
  text-align: center;
  background-color: #5593d7;
}

footer .brand-list .brand-list-base {
  position: relative;
  margin: 0;
}

footer .brand-list .brand-list-base .sec-left {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

footer .brand-list .brand-list-base .sec-right {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

footer .brand-list .brand-list-base .brand-list-items {
  display: inline-block;
  text-align: center;
  min-width: 167px;
}

footer .brand-list .brand-list-items:hover {
    background-color: rgb(41, 87, 137);
}

footer .brand-list .brand-list-base .brand-list-items.lg {
  width: 272px;
}

footer .brand-list .brand-list-base .brand-list-items .brand-logo {
  width: 100%;
  height: 100px;
  margin-top: 14px;
}
footer .brand-list .brand-list-base .brand-list-items.lg .brand-logo {
  max-width: 272px;
  margin: 14px auto 0;
}

footer .brand-list .brand-list-base .brand-list-items.lg img {
  width: 80%;
  padding-top: 20px;
}

footer .brand-list .brand-list-base .brand-list-items > .title {
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin: 0;
  line-height: 22px;
  margin-bottom: 14px;
}

footer .layer-2 {
  margin-top: 43px;
}

footer .layer-2 .key-map .title{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

footer .layer-2 .key-map.small {
  width: 50% !important;
}

footer .layer-2 .key-map.large {
  width: 100% !important;
}

footer .layer-2 .key-map .content .key-list {
  display: block;
  margin: 0;
  padding: 0;
}

footer .layer-2 .key-map .content .key-list li {
  line-height: 24px;
  list-style: none;
}

footer .layer-2 .key-map .content .key-list li.blank {
  width: 100%;
  height: 24px;
}

footer .layer-2 .key-map .content .key-list li a {
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

footer .layer-3 {
  margin-top: 63px;
}

footer .layer-3 ul {
  margin: 0;
  padding: 0 16px 16px 0;
  display: block;
  width: 100%;
  text-align: right;
}

footer .layer-3 ul li {
  display: inline-block;
  list-style: none;
  padding-left: 16px;
}

footer .layer-3 ul li a{
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
/* #Footer */

/* Home Banner */
.home-banner {
  width: 100%;
  height: 520px;
  background-image: url(../img/home_page_banner.jpg);
  background-size: cover;
  color: white;
  background-position: center;
  display: table;
  position: relative;
}

.home-banner.two {
  background-image: url(../img/Dollarphotoclub_85609842.jpg);
}

.home-banner.three {
  background-image: url(../img/home_page_banner_3.jpg);
}

.home-banner .home-banner-container {
  padding: 0 0 0 24px;
  display: table-cell;
  vertical-align: middle;
}

.home-banner .label-1 {
  width: 100%;
  text-align: center;
  font-size: 59px;
  line-height: 59px;
  font-weight: 600;
}
.home-banner .label-2 {
  margin-top: 40px;
  font-size: 29px;
  font-weight: normal;
  text-align: center;
}

.home-banner .label-2 a{
  color: #FFF;
  text-decoration: none;
}

.home-banner .label-2 .icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}
/* #Home Banner */

/* Inner Page Banner */
.page-banner {
  height: 416px;
  color: white;
  background-position: center;
  background-size: cover;
}

.page-banner .page-banner-container {
  padding: 0 0 0 24px;
}

.page-banner.safecoin {
  background-image: url(../img/safecoin_banner.svg);
}

.page-banner.support {
  background-image: url(../img/support_page_banner.jpg);
}

.page-banner.maidsafe-team {
  background-image: url(../img/MaidSafe-Team-6th-Nov.jpg);
  background-position: center -50px;
}
.page-banner .label-1 {
  margin-top: 118px;
  font-size: 49px;
  line-height: 59px;
}
.page-banner .label-2 {
  margin: 45px 0;
  font-size: 24px;
  line-height: 27px;
}
/* #Inner Page Banner */


/* Page 1 Layout */
.page-1 {
  margin-top: 90px;
  margin-bottom: 150px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
}
.page-1 .title{
  color: #5b94d9;
  font-size: 49px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 36px;
}
.page-1 .p {
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin: 24px 0;
  text-align: justify;
  color: #808080;
}
.page-1 .p a{
  color: #5b94d9;
}
.page-1 .sec{
  margin-top: 48px;
  margin-bottom: 24px;
}
.page-1 .sub-title {
  margin-top: 118px;
  font-size: 24px;
  color: #808080;
}
.page-1 .sec .sub-title{
  font-size: 22px;
  font-weight: 600;
}
.page-1 .page-1-media {
  margin: 64px 0;
}
.page-1 .media-two-col {
  display: table;
  padding: 0;
}

.page-1 .media-two-col .media-src {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.page-1 .media-two-col .media-src img {
  width: 100%;
}
.page-1 .media-two-col .media-context {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
.page-1 .list {
  font-size: 16px;
}
.page-1 .list li {
  padding: 8px 0;
  color: #808080;
  font-weight: 300;
}
/* #Page 1 Layout */

/* Page 2 Layout */
.page-2 {
  margin-top: 90px;
  margin-bottom: 90px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  text-align: center;
}
.page-2 .title{
  color: #5b94d9;
  font-size: 49px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 40px;
}
.page-2 .p {
  width: 100%;
  display: block;
  font-size: 18px;
  line-height: 29px;
  font-weight: normal;
  margin: 24px 0;
  text-align: justify;
  color: #808080;
}
.page-2 .p a{
  color: #5b94d9;
}
.page-2 .quote {
  font-style: italic;
  font-size: 21px;
  margin-top: 70px;
  color: #808080;
}
.page-2 .sub-title {
  margin-top: 118px;
  font-size: 24px;
  color: #808080;
}
/* #Page 2 Layout */

/* Accordian */
.accordian {
  width: 100%;
}

.accordian ul {
  margin: 0;
  padding: 0;
}

.accordian ul li {
  list-style: none;
}
.accordian ul li h3 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  color: #808080;
  padding: 25px 20px 5px 8px;
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
}
.accordian ul li:hover h3 {
  background-color: #EFEFEF;
}

.accordian ul li p {
  margin-top: 25px;
  margin-bottom: 25px;
  color:  #808080;
  font-size: 18px;
  padding: 0 16px;
  text-align: justify;
  font-weight: normal;
  line-height: 29px;
  display: none;
}
.accordian ul li.active h3 {
  color: #5b94d9;
  background-color: #EFEFEF;
}
.accordian ul li.active p {
  display: block;
}
/* #Accordian */

/* box 1 */
.box-1 {
  margin: 48px 0;
}
.box-1 .item {
  width: 280px;
  display: inline-block;
}

.box-1 .item:nth-child(even) {
  margin: 0 50px;
}
.box-1 .item .content {
  height: 140px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.box-1 .item .content.bg-green {
  background-color: rgb(102, 141, 94);
}

.box-1 .item .content.bg-blue {
  background-color: rgb(102, 141, 170);
}

.box-1 .item .content.bg-red {
  background-color: rgb(170, 107, 102);
}

.box-1 .item .foot {
  margin: 0;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* #box 1 */

/* box 2 */
.box-2 {
  width: 100%;
  margin-top: 32px;
}
.box-2 .item {
  width: 50%;
  display: inline-block;
  padding: 0;
}
.box-2 .item:nth-child(odd) {
  padding-right: 25px;
}
.box-2 .item:nth-child(even) {
  padding-left: 25px;
}
.box-2 .item .content {
  height: 140px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.box-2 .item .content.bg-green {
  background-color: rgb(102, 141, 94);
}

.box-2 .item .content.bg-blue {
  background-color: rgb(102, 141, 170);
}

.box-2 .item .content.bg-red {
  background-color: rgb(170, 107, 102);
}
.box-2 .item .foot {
  margin: 0;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* #box 2 */

/* Typing */
.typing {
  position: relative;
  line-height: inherit;
  display: inline;
  color: #FFF;
  min-width: 1px;
  min-height: 20px;
}

.typing span {
  width: 100%;
  min-width: 1px;
  height: 100%;
}
.typing.lg {
  height: 60px;
}
.typing.lg:after {
  height: 59px;
  top: 10px;
}
.typing:after {
  content: "";
  position: absolute;
  top: 5%;
  right: -2px;
  width: 1px;
  border-right: 2px solid #FFF;
  animation: blink 1s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1%;
  }
  100% {
    opacity: 1%;
  }
}
/* #Typing */

/* Post 1 */
.post-1 {
  background-color: transparent;
  width: 960px;
  margin: 0 auto;
  display: table;
  color: white;
  position: relative;
}
.post-1 .media {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  text-align: left;
}
.post-1 .media img {
  height: 410px;
}
.post-1 .content {
  display: table-cell;
  vertical-align: middle;
  width: 480px;
}
.post-1 .content .title {
  margin-top: 80px;
  margin-bottom: 0;
  font-size: 38px;
  line-height: 49px;
  font-weight: normal;
  text-align: left;
}

.post-1 .content a {
  color: white;
  text-decoration: underline;
}

.post-1 .content a:hover {
  color: white;
}

.post-1 .content .p {
  margin: 40px 0 0 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
}
.post-1 .foot {
  margin: 40px 0 80px;
}
.post-1 .ghost-button {
  text-align: center;
}
.post-1 .ghost-button a {
  text-decoration: none;
  color: #FFF;
  border: 2px solid #FFF;
  font-size: 18px;
  line-height: 38px;
  display: inline-block;
  padding: 0 16px;
  border-radius: 5px;
}
.post-1.flip .media {
  text-align: right;
}
/* #Post 1 */
