/* Desktops and laptops ----------- */
@media only screen and (min-width: 1135px) and (max-width: 1559px) {
  /* Layout Type 1 */
  .layout-1 {
    width: 100%;
  }

  .layout-1 .left-sec {
    width: 22% !important;
    margin: 0;
    float: left;
  }

  .layout-1 .right-sec {
    width: 78% !important;
    margin: 0;
    float: right;
  }
  /* #Layout Type 1 */

  /* MaidSafe Team Banner height changes */
  .page-banner.maidsafe-team {
    height: 550px;
  }
  /* #MaidSafe Team Banner height changes */

  /* Post 1 */
  .post-1 .foot {
    margin-bottom: 40px;
  }

  .post-1.spacing-top {
    padding-top: 40px;
  }

  .post-1.spacing-bottom {
    padding-bottom: 40px;
  }

  .post-1.spacing-top-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /* #Post 1 */
  /* Footer */
  .footer-wig-a:first-child {
    text-align: left;
  }
  .footer-wig-a:nth-child(2) {
    text-align: center;
  }
  .footer-wig-a:last-child {
    text-align: right;
  }
  /* #Footer */
}
