/* Desktops and laptops ----------- */
@media only screen and (min-width: 1135px) and (max-width: 1559px) {
  .layout-1 {
    width: 100%;
  }

  .layout-1 .left-sec {
    width: 22% !important;
    margin: 0;
    float: left;
  }

  .layout-1 .right-sec {
    width: 78% !important;
    margin: 0;
    float: right;
  }

  footer .brand-list .brand-list-base .sec-center {
    width: 272px;
    margin: 0 auto;
    padding: 0;
    float: none;
    z-index: 1;
  }

  footer .brand-list .brand-list-base .sec-left {
    width: 50%;
    position: absolute;
    left: 0;
    padding: 0;
    text-align: right;
    padding-right: 136px;
  }

  footer .brand-list .brand-list-base .sec-right {
    width: 50%;
    position: absolute;
    right: 0;
    padding: 0;
    text-align: left;
    padding-left: 136px;
  }
}
