/* Large Screens */
@media only screen and (min-width: 1560px) {
  /* POST 1 */
  .post-1 {
    width: 1170px;
  }
  .post-1 .media img  {
    width: 80%;
    margin: 0 auto;
  }
  .post-1 .content {
    width: 585px;
    text-align: left;
  }
  .post-1 .content .title {
    margin-top: 80px;
    font-size: 44px;
    line-height: 59px;
  }
  .post-1 .content .p {
    font-size: 20px;
    line-height: 27px;
  }

  .post-1 .foot {
    margin-bottom: 40px;
  }

  .post-1.spacing-top {
    padding-top: 40px;
  }

  .post-1.spacing-bottom {
    padding-bottom: 40px;
  }

  .post-1.spacing-top-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* #POST 1 */

  /* MaidSafe Team Banner height changes */
  .page-banner.maidsafe-team {
    height: 550px;
  }
  /* #MaidSafe Team Banner height changes */
  /* Footer */
  .footer-wig-a:first-child {
    text-align: left;
  }
  .footer-wig-a:nth-child(2) {
    text-align: center;
  }
  .footer-wig-a:nth-child(3) {
    text-align: right;
  }
  /* #Footer */
}
