/* Large Screens */
@media only screen and (min-width: 1560px) {
  /* Footer */
  footer .layer-2 {
    width: 1170px;
  }
  
  /* Structure changes to single row */
  footer .brand-list .brand-list-base .sec-center {
    width: 274px;
    margin: 0 auto;
    padding: 0;
    float: none;
    z-index: 1;
  }

  footer .brand-list .brand-list-base .brand-list-items.lg {
    width: 274px;
  }

  footer .brand-list .brand-list-base .brand-list-items.lg .brand-logo {
    max-width: 274px;
  }

  footer .brand-list .brand-list-base .sec-left {
    width: 50%;
    position: absolute;
    left: 0;
    padding: 0;
    text-align: right;
    padding-right: 137px;
  }

  footer .brand-list .brand-list-base .sec-right {
    width: 50%;
    position: absolute;
    right: 0;
    padding: 0;
    text-align: left;
    padding-left: 137px;
  }

  footer .brand-list .brand-list-base .sec-left .brand-list-items,
  footer .brand-list .brand-list-base .sec-right .brand-list-items {
    width: 224px;
  }
  /* #Footer */

  /* POST 1 */
  .post-1 {
    width: 1170px;
  }
  .post-1 .media img  {
    width: 80%;
    margin: 0 auto;
  }
  .post-1 .content {
    width: 585px;
    text-align: left;
  }
  .post-1 .content .title {
    margin-top: 80px;
    font-size: 44px;
    line-height: 59px;
  }
  .post-1 .content .p {
    font-size: 20px;
    line-height: 27px;
  }
  /* #POST 1 */

  /* MaidSafe Team Banner height changes */
  .page-banner.maidsafe-team {
    height: 550px;
  }
  /* #MaidSafe Team Banner height changes */
}
