/* Media Less than 480px */
@media only screen and (min-width : 320px) and (max-width : 511px) {
  /* Common */
  .wrapper {
    padding: 0;
  }
  /* #Common */

  /* Home Banner */
  /* Banner height and label size varies */
  .home-banner {
    height: 400px;
  }

  .home-banner .label-1 {
    font-size: 32px;
    font-weight: 600;
  }

  .home-banner .label-2 {
    font-size: 23px;
    margin-top: 30px;
    line-height: 36px;
  }
  /* #Home Banner */

  /* Page Banner */
  /* Page banner height and label font varies */
  .page-banner {
    height: 200px;
  }

  .page-banner.home-like {
    height: 270px;
  }

  /* #Page Banner */

  /* Typing */
  /* Typing curser size varies */
  .typing.lg {
    line-height: 36px;
  }

  .typing.lg:after {
    height: 32px;
  }
  /* #Typing */

  /* Page Type 1 */
  /* Page-1 title and margin varies */
  .page-1 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .page-1 .title {
    font-size: 38px;
    line-height: 49px;
  }
  .page-1-base {
    width: 100%;
    margin: 0;
  }
  /* #Page Type 1 */
  .layout-1 {
    width: 100%;
  }
  .layout-1 .lsec {
    width: 100%;
    padding: 0;
  }
  .layout-1 .rsec {
    width: 100%;
    padding: 0;
  }

  /* Page 2 */
  .page-2 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .page-2 .title {
    font-size: 38px;
    line-height: 49px;
  }

  .page-2 .page-2-media {
    display: block;
  }

  .page-2 .page-2-media .media-src {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .page-2 .page-2-media .media-content {
    width: 100%;
    display: block;
    padding-top: 40px;
    padding-left: 24px;
  }
  /* #Page 2 */

  /* POST 1 */
  /* Post-1 structure changes */
  .post-1 {
    width: 100%;
    display: block;
  }
  .post-1 .media {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding-top: 40px;
    text-align: center;
  }
  .post-1 .media img  {
    display: block;
    width: 100%;
    height: 360px;
    margin: 0 auto;
  }
  .post-1 .content {
    width: 100%;
    text-align: left;
    padding: 340px 16px 0;
  }
  .post-1 .content .title {
    margin-top: 0;
    text-align: center;
  }
  /* #POST 1 */

  /* MaidSafe Team Banner height changes */
  .page-banner.maidsafe-team {
    height: 200px;
  }
  /* #MaidSafe Team Banner height changes */

  /* Box 1 */
  .box-1 .item:first-child {
    width: 100%;
    padding: 0;
  }

  .box-1 .item:nth-child(2),.box-1 .item:last-child  {
    width: 100%;
    padding: 30px 0 0 0;
  }
  /* #Box 1 */

  /* Box 2 */
  .box-2 .item {
    width: 100%;
    float: none;
    padding: 30px 0 0 !important;
  }
  /* #Box 2 */

  /* Accordian */
  .accordian ul li h3 {
    font-size: 18px;
    line-height: 22px;
  }
  /* #Accordian */
  /* Footer */
  .app-footer .app-footer-b {
    width: 100%;
    padding: 0 16px;
  }
  .app-footer .app-footer-r.top {
    width: 100%;
  }
  .footer-wig-a:first-child {
    width: 100%;
  }
  .footer-wig-a:nth-child(2) {
    padding-right: 8px;
  }
  .footer-wig-a:last-child {
    float: none;
    padding-left: 8px;
  }
  .footer-wig-a-cont {
    padding: 0;
  }
  .footer-wig-b {
    width: 100%;
  }
  .footer-hz-li ul {
    text-align: center;
  }
  .footer-hz-li ul:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
  }
  .footer-hz-li ul li {
    width: 33.33%;
    padding: 0;
    float: left;
  }
  .footer-hz-li ul li:last-child {
    width: 100%;
    padding-top: 16px;
  }
  /* #Footer */
  /* Content 1 */
  .content-1 {
    width: 100%;
    padding: 80px 16px;
  }
  .content-1 h3 {
    font-size: 39px;
    line-height: 49px;
  }
  .content-1 p {
    font-size: 18px;
    line-height: 22px;
  }
  /* #Content 1 */
  /* Post 2 */
  .post-2 {
    width: 100%;
    padding: 0 16px 80px;
    display: block;
  }
  .post-2 .post-2-content {
    display: block;
    width: 100%;
  }
  .post-2 .post-2-media {
    display: block;
    width: 100%;
    padding: 0 0 50px;
  }
  .post-2 .post-2-media img {
    margin: 0;
    width: auto;
  }
  .post-2.flip{
    transform: rotateZ(0deg);
    padding: 0 16px 80px;
  }
  .post-2.flip .post-2-content, .post-2.flip .post-2-media {
    transform: rotateZ(0deg);
  }
  /* #Post 2 */
  /* Team Img*/
  .team-img .team-img-i {
    width: 20%;
    height: auto;
  }
  /* #Team Img*/
  /* Post 3 */
  .post-3 {
    width: 100%;
    overflow: hidden;
  }
  .post-3 .post-3-cont {
    padding: 60px 0 120px;
    margin-top: 0;
  }
  .post-3 .post-3-cont .post-3-cont-i {
    width: 100%;
    padding: 0 16px;
  }
  .post-3 .post-3-cont p {
    margin-top: 30px;
  }
  /* #Post 3 */
  /* Overlay */
  .overlay .overlay-cont {
    width: 100%;
    padding: 0 32px;
  }
  .overlay .overlay-cont .overlay-cont-i iframe {
    height: 235px;
  }
  /* #Overlay */

  /* Content 3 */
  .content-3 {
    width: 100%;
    padding: 16px;
  }
  /* #Content 3 */
  .credits-logo {
    margin: 50px 25px 0 0;
  }
  .footer-hz-li {
    padding: 22px 16px 16px;
  }
}
