/* Media Less than 480px */
@media only screen and (min-width : 320px) and (max-width : 511px) {
  /* Common */
  .wrapper {
    padding: 0;
  }
  /* #Common */

  /* Home Banner */
  /* Banner height and label size varies */
  .home-banner {
    height: 400px;
  }

  .home-banner .label-1 {
    font-size: 32px;
    font-weight: 600;
  }

  .home-banner .forNonTouch {
    display: none;
  }
  .home-banner .forTouch {
    display: block;
  }

  .home-banner .label-2 {
    font-size: 23px;
    margin-top: 30px;
    line-height: 36px;
  }
  /* #Home Banner */

  /* Page Banner */
  /* Page banner height and label font varies */
  .page-banner {
    height: 200px;
  }

  .page-banner.home-like {
    height: 270px;
  }

  /* #Page Banner */

  /* Typing */
  /* Typing curser size varies */
  .typing.lg {
    line-height: 36px;
  }

  .typing.lg:after {
    height: 32px;
  }
  /* #Typing */

  /* Page Type 1 */
  /* Page-1 title and margin varies */
  .page-1 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .page-1 .title {
    font-size: 38px;
    line-height: 49px;
  }
  .page-1-base {
    width: 100%;
    margin: 0;
  }
  /* #Page Type 1 */
  .layout-1 {
    width: 100%;
  }
  .layout-1 .lsec {
    width: 100%;
    padding: 0;
  }
  .layout-1 .rsec {
    width: 100%;
    padding: 0;
  }

  /* Page 2 */
  .page-2 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .page-2 .title {
    font-size: 38px;
    line-height: 49px;
  }

  .page-2 .page-2-media {
    display: block;
  }

  .page-2 .page-2-media .media-src {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .page-2 .page-2-media .media-content {
    width: 100%;
    display: block;
    padding-top: 40px;
    padding-left: 24px;
  }
  /* #Page 2 */

  /* POST 1 */
  /* Post-1 structure changes */
  .post-1 {
    width: 100%;
    display: block;
  }
  .post-1 .media {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding-top: 40px;
    text-align: center;
  }
  .post-1 .media img  {
    display: block;
    width: 100%;
    height: 360px;
    margin: 0 auto;
  }
  .post-1 .content {
    width: 100%;
    text-align: left;
    padding: 340px 16px 0;
    position: relative;
  }
  .post-1 .content .title {
    margin-top: 0;
    text-align: center;
  }
  .post-1 .content .p {
    text-align: justify;
  }
  /* #POST 1 */

  /* MaidSafe Team Banner height changes */
  .page-banner.maidsafe-team {
    height: 200px;
  }
  /* #MaidSafe Team Banner height changes */

  /* Box 1 */
  .box-1 .item:first-child {
    width: 100%;
    padding: 0;
  }

  .box-1 .item:nth-child(2),.box-1 .item:last-child  {
    width: 100%;
    padding: 30px 0 0 0;
  }
  /* #Box 1 */

  /* Box 2 */
  .box-2 .item {
    width: 100%;
    float: none;
    padding: 30px 0 0 !important;
  }
  /* #Box 2 */

  /* Accordian */
  .accordian ul li h3 {
    font-size: 18px;
    line-height: 22px;
  }
  /* #Accordian */
  /* Footer */
  .app-footer .app-footer-b {
    width: 100%;
    padding: 0 16px;
  }
  .app-footer .app-footer-r.top {
    width: 100%;
  }
  .footer-wig-a:first-child {
    width: 100%;
  }
  .footer-wig-a:nth-child(2) {
    padding-right: 8px;
  }
  .footer-wig-a:last-child {
    float: none;
    padding-left: 8px;
  }
  .footer-wig-a-cont {
    padding: 0;
  }
  .footer-wig-b {
    width: 100%;
  }
  .footer-hz-li ul {
    text-align: center;
  }
  .footer-hz-li ul:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
  }
  .footer-hz-li ul li {
    width: 33.33%;
    padding: 0;
    float: left;
  }
  .footer-hz-li ul li:last-child {
    width: 100%;
    padding-top: 16px;
  }
  /* #Footer */
  /* Content 1 */
  .content-1 {
    width: 100%;
    padding: 80px 16px;
  }
  .content-1 h3 {
    font-size: 39px;
    line-height: 49px;
  }
  .content-1 p {
    font-size: 18px;
    line-height: 22px;
  }
  /* #Content 1 */
  /* Post 2 */
  .post-2 {
    width: 100%;
    padding: 80px 16px 0;
    display: block;
  }
  .post-2:last-child {
    padding-bottom: 80px;
  }
  .post-2 .post-2-content {
    display: block;
    width: 100%;
  }
  .post-2 .post-2-content h3 {
    text-align: center;
  }
  .post-2 .post-2-content p {
    text-align: justify;
  }
  .post-2 .post-2-media {
    display: block;
    width: 100%;
    padding: 0 0 50px;
  }
  .post-2 .post-2-media img {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .post-2.flip .post-2-content, .post-2.flip .post-2-media {
    transform: translateX(0);
  }
  /* #Post 2 */
  /* Team Img*/
  .team-img .team-img-i {
    width: 20%;
    height: auto;
  }
  /* #Team Img*/
  /* Post 3 */
  .post-3 {
    width: 100%;
    overflow: hidden;
  }
  .post-3 .post-3-cont {
    padding: 60px 0 120px;
    margin-top: 0;
  }
  .post-3 .post-3-cont .post-3-cont-i {
    width: 100%;
    padding: 0 16px;
  }
  .post-3 .post-3-cont p {
    margin-top: 30px;
  }
  /* #Post 3 */
  /* Overlay */
  .overlay .overlay-cont {
    width: 100%;
    padding: 0 32px;
  }
  .overlay .overlay-cont .overlay-cont-i iframe {
    height: 235px;
  }
  /* #Overlay */

  /* Content 3 */
  .content-3 {
    width: 100%;
    padding: 16px;
  }
  /* #Content 3 */
  .credits-logo {
    margin: 50px 25px 0 0;
  }
  .footer-hz-li {
    padding: 22px 16px 16px;
  }

  /* Roadmap */
  .roadmap {
    /*display: flex;*/
    height: auto;
  }
  .roadmapBreadcrumb {
    padding: 8px 20px 0;
  }
  .roadmapBreadcrumb .breadcrumb-i {
    padding-bottom: 8px;
  }
  .roadmapSvg {
    display: none;
  }
  .roadmap .roadmapNav {
    width: 100% !important;
    height: 100%;
    position: fixed !important;
    top: 0 !important;
    left: -100% !important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    overflow: hidden;
  }
  .roadmap .roadmapNav.open {
     left: 0 !important;
   }
  .roadmap .roadmapNav .roadmapNav-b {
    width: 80%;
    padding-top: 70px;
    overflow: auto;
  }
  .roadmap .roadmapChart {
    width: 100%;
  }
  .roadmapChart-h {
    padding: 0;
  }
  /*.roadmapChart-h:before {
    content: '';
    width: 100%;
    height: 50px;
    display: block;
    background-color: #2a98ea;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }*/
  .roadmapChart-h .roadmapChart-h-menu {
    display: block;
  }
  .roadmapChart-h-t {
    width: 100%;
    padding-left: 50px;
    padding-right: 0;
    color: white !important;
    line-height: 50px;
    position: relative;
  }
  .roadmapChart-h-t:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .roadmapChart-h-t  > div {
    width: 100%;
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .roadmapChart-h-t .info-icon {
    display: none !important;
  }
  .roadmapChart-h-desc {
    /*display: block !important;*/
    /*padding: 8px 20px 0;*/
    display: none;
  }
  .roadmapChart-h-desc-title {
    display: block;
    padding: 20px 0 8px;
    font-size: 19px;
    color: #282828;
    font-weight: 600;
  }
  .listTitle {
    width: 100%;
    padding-top: 16px;
  }
}
