.roadmap {
  position: relative;
  height: 620px;
  overflow: hidden;
  display: flex;
}

.roadmapChart-h {
  position: relative;
  padding: 8px 0 8px 15px;
}

.roadmapChart-h:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
.roadmapChart-h-desc-title {
  display: none;
}

/* Mobile */
.roadmapChartMobile-b {
  width: 100%;
  display: block;
}

.roadmapChart-h .roadmapChart-h-menu {
  width: 50px;
  height: 50px;
  margin-left: 8px;
  float: left;
  background-image: url(../img/roadmap_menu_icon.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.roadmapChart-h-t {
  margin: 0;
  padding: 0;
  padding-right: 40px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  color: #2a98ea;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-user-select: none;
}

.roadmapChart-h-t:after {
  content: "";
  width: 36px;
  height: 22px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/roadmap_open_info.svg);
  background-position: center;
  background-size: 36px;
  background-repeat: no-repeat;
}

.roadmapChart-h-desc {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #282828;
  font-weight: normal;
  float: left;
  display: none;
}

.roadmapChart-h-t.active ~ .roadmapChart-h-desc {
  display: block;
}

.roadmapChart-h-t.active:after {
  background-image: url(../img/roadmap_close_info.svg);
}


/* chart header */
.chart-progress-b {
  fill: #EEE;
}

.chart-progress {
  fill: #99d1ff;
}

/* Breadcum */
.roadmapBreadcrumb {
  padding: 16px 0 0 15px;
}

.roadmapBreadcrumb:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
}

.roadmapBreadcrumb > .breadcrumb-i {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  padding-right: 8px;
  float: left;
  cursor: pointer;
}

.roadmapBreadcrumb > .breadcrumb-i:not(:last-child):after {
  content: " >";
}

.listPadding {
  padding-left: 18px;
}

.roadmap .roadmapNav {
  width: 280px;
  height: 100%;
  padding: 0;
  font-family: 'Open sans';
  font-size: 14px;
  border-right: 1px solid #DDD;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

.listTitle {
  font-size: 24px;
  line-height: 29px;
  padding-left: 8px;
  cursor: pointer;
  position: relative;
  color: #888888;
}
.listTitle > .listPadding {
  padding-bottom: 8px;
  display: inline-block;
}

.listBase {
  font-size: 14px;
  font-weight: 600;
  line-height: 29px;
  margin-left: 18px;
  padding-left: 3px;
  cursor: pointer;
  position: relative;
  color: #888888;
}

.listBase.listClose {
  height: 29px;
  overflow: hidden;
}

.listBase.highlight {
  color: white;
}

.listBase.highlight:before {
  width: 100%;
}

.listBase:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 29px;
  top: 0;
  left: 0;
  z-index: -1;
}

.roadmap .roadmapChart {
  flex: 1;
  padding: 0 0 0 5px;
  float: left;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.roadmap .roadmapChart .roadmapChart-b {
  width: 100%;
}

.taskText {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  fill: #FFF;
}

.labelText {
  font-family: 'Roboto Mono Regular';
  font-size: 10px;
  font-weight: normal;
  text-transform: capitalize;
  cursor: pointer;
  fill: #FFF;
}

.box {
  fill: #008cff;
  cursor: pointer;
  stroke-width: 2px;
}

.box.highlight {
  stroke: rgba(0,0,0,0.5);
}

/* lines */
.line- {
  stroke: steelblue;
}

.line-label {
  cursor: pointer;
}

/* markers */
.lineMarker {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5px;
}

.statusBox {
  cursor: pointer;
}

/* Root Color 1 */
.rootColor-1.text  {
  color: #858585;
}
.rootColor-1:before {
  background-color: #858585;
}
.svg-rootColor-1 {
  fill: #858585;
}
.line-rootColor-1 {
  stroke:#858585;
}
.features-rootColor-1:before {
  background-color: #858585 !important;
}

/* blue 1 */
.blue-1.text  {
  color: #008cff;
}
.blue-1:before {
  background-color: #008cff;
}
.svg-blue-1 {
  fill: #008cff;
}
.line-blue-1 {
  stroke:#008cff;
}
.features-blue-1:before {
  background-color: #008cff !important;
}

/* blue-2 */
.blue-2.text  {
  color: #4dacff;
}
.blue-2:before {
  background-color: #4dacff;
}
.svg-blue-2, .svg-blue-2 .box {
  fill: #4dacff;
}
.line-blue-2, .svg-blue-2 .box {
  stroke:#4dacff;
}
.features-blue-2:before {
  background-color: #4dacff !important;
}
.blue-2.highlight:before {
  border: 2px solid #008cff;
}
.svg-blue-2.highlight .box, .line-blue-2.highlight {
  stroke:#008cff;
}
.blue-2:active:before {
  background-color: #008cff;
}
.svg-blue-2:active .box {
  fill: #008cff !important;
}

/* blue-3 */
.blue-3.text  {
  color: #99d1ff;
}
.blue-3:before {
  background-color: #99d1ff;
}
.svg-blue-3, .svg-blue-3 .box {
  fill: #99d1ff;
}
.line-blue-3, .svg-blue-3 .box {
  stroke: #99d1ff;
}
.features-blue-3:before {
  background-color: #99d1ff !important;
}
.blue-3.highlight:before {
  border: 2px solid #4dacff;
}
.svg-blue-3.highlight .box, .line-blue-3.highlight {
  stroke:#4dacff;
}
.blue-3:active:before {
  background-color: #4dacff;
}
.svg-blue-3:active .box {
  fill: #4dacff !important;
}

/* orange 1 */
.orange-1.text  {
  color: #f9874e;
}
.orange-1:before {
  background-color: #f9874e;
}
.svg-orange-1 {
  fill: #f9874e;
}
.line-orange-1 {
  stroke:#f9874e;
}
.features-orange-1:before {
  background-color: #f9874e !important;
}

/* orange 2 */
.orange-2.text  {
  color: #fca071;
}
.orange-2:before {
  background-color: #fca071;
}
.svg-orange-2, .svg-orange-2 .box {
  fill: #fca071;
}
.line-orange-2, .svg-orange-2 .box {
  stroke:#fca071;
}
.features-orange-2:before {
  background-color: #fca071 !important;
}
.orange-2.highlight:before {
  border: 2px solid #f9874e;
}
.svg-orange-2.highlight .box, .line-orange-2.highlight {
  stroke:#f9874e;
}
.orange-2:active:before {
  background-color: #f9874e;
}
.svg-orange-2:active .box {
  fill: #f9874e !important;
}

/* orange 3 */
.orange-3.text  {
  color: #fcb590;
}
.orange-3:before {
  background-color: #fcb590;
}
.svg-orange-3, .svg-orange-3 .box {
  fill: #fcb590;
}
.line-orange-3, .svg-orange-3 .box {
  stroke:#fcb590;
}
.features-orange-3:before {
  background-color: #fcb590 !important;
}
.orange-3.highlight:before {
  border: 2px solid #fca071;
}
.svg-orange-3.highlight .box, .line-orange-3.highlight {
  stroke:#fca071;
}
.orange-3:active:before {
  background-color: #fca071;
}
.svg-orange-3:active .box {
  fill: #fca071 !important;
}

/* coral 1 */
.coral-1.text {
  color: #f27e7e;
}
.coral-1:before {
  background-color: #f27e7e;
}
.svg-coral-1 {
  fill: #f27e7e;
}
.line-coral-1 {
  stroke:#f27e7e;
}
.features-coral-1:before {
  background-color: #f27e7e !important;
}

/* coral 2 */
.coral-2.text {
  color: #f79797;
}
.coral-2:before {
  background-color: #f79797;
}
.svg-coral-2, .svg-coral-2 .box {
  fill: #f79797;
}
.line-coral-2, .svg-coral-2 .box {
  stroke:#f79797;
}
.features-coral-2:before {
  background-color: #f79797 !important;
}
.coral-2.highlight:before {
  border: 2px solid #f27e7e;
}
.svg-coral-2.highlight .box, .line-coral-2.highlight {
  stroke:#f27e7e;
}
.coral-2:active:before {
  background-color: #f27e7e;
}
.svg-coral-2:active .box {
  fill: #f27e7e !important;
}

/* coral 3 */
.coral-3.text {
  color: #fab2b2;
}
.coral-3:before {
  background-color: #fab2b2;
}
.svg-coral-3, .svg-coral-3 .box {
  fill: #fab2b2;
}
.line-coral-3, .svg-coral-3 .box {
  stroke:#fab2b2;
}
.features-coral-3:before {
  background-color: #fab2b2 !important;
}
.coral-3.highlight:before {
  border: 2px solid #f79797;
}
.svg-coral-3.highlight .box, .line-coral-3.highlight {
  stroke:#f79797;
}
.coral-3:active:before {
  background-color: #f79797;
}
.svg-coral-3:active .box {
  fill: #f79797 !important;
}

/* pink 1 */
.pink-1.text {
  color: #e56ee5;
}
.pink-1:before {
  background-color: #e56ee5;
}
.svg-pink-1 {
  fill: #e56ee5;
}
.line-pink-1 {
  stroke:#e56ee5;
}
.features-pink-1:before {
  background-color: #e56ee5 !important;
}

/* pink 2 */
.pink-2.text {
  color: #e88be8;
}
.pink-2:before {
  background-color: #e88be8;
}
.svg-pink-2, .svg-pink-2 .box {
  fill: #e88be8;
}
.line-pink-2, .svg-pink-2 .box {
  stroke:#e88be8;
}
.features-pink-2:before {
  background-color: #e88be8 !important;
}
.pink-2.highlight:before {
  border: 2px solid #e56ee5;
}
.svg-pink-2.highlight .box, .line-pink-2.highlight {
  stroke:#e56ee5;
}
.pink-2:active:before {
  background-color: #e56ee5;
}
.svg-pink-2:active .box {
  fill: #e56ee5 !important;
}

/* pink 3 */
.pink-3.text {
  color: #f2a5f2;
}
.pink-3:before {
  background-color: #f2a5f2;
}
.svg-pink-3, .svg-pink-3 .box {
  fill: #f2a5f2;
}
.line-pink-3, .svg-pink-3 .box {
  stroke:#f2a5f2;
}
.features-pink-3:before {
  background-color: #f2a5f2 !important;
}
.pink-3.highlight:before {
  border: 2px solid #e88be8;
}
.svg-pink-3.highlight .box, .line-pink-3.highlight {
  stroke:#e88be8;
}
.pink-3:active:before {
  background-color: #e88be8;
}
.svg-pink-3:active .box {
  fill: #e88be8 !important;
}

/* green 1 */
.green-1.text {
  color: #6fbc24;
}
.green-1:before {
  background-color: #6fbc24;
}
.svg-green-1 {
  fill: #6fbc24;
}
.line-green-1 {
  stroke:#6fbc24;
}
.features-green-1:before {
  background-color: #6fbc24 !important;
}

/* green 2 */
.green-2.text {
  color: #8fc956;
}
.green-2:before {
  background-color: #8fc956;
}
.svg-green-2, .svg-green-2 .box {
  fill: #8fc956;
}
.line-green-2, .svg-green-2 .box {
  stroke:#8fc956;
}
.features-green-2:before {
  background-color: #8fc956 !important;
}
.green-2.highlight:before {
  border: 2px solid #6fbc24;
}
.svg-green-2.highlight .box, .line-green-2.highlight {
  stroke:#6fbc24;
}
.green-2:active:before {
  background-color: #6fbc24;
}
.svg-green-2:active .box {
  fill: #6fbc24 !important;
}

/* green 3 */
.green-3.text {
  color: #a7d97c;
}
.green-3:before {
  background-color: #a7d97c;
}
.svg-green-3, .svg-green-3 .box {
  fill: #a7d97c;
}
.line-green-3, .svg-green-3 .box {
  stroke:#a7d97c;
}
.features-green-3:before {
  background-color: #a7d97c !important;
}
.green-3.highlight:before {
  border: 2px solid #8fc956;
}
.svg-green-3.highlight .box, .line-green-3.highlight {
  stroke:#8fc956;
}
.green-3:active:before {
  background-color: #8fc956;
}
.svg-green-3:active .box {
  fill: #8fc956 !important;
}

/* indigo 1 */
.indigo-1.text {
  color: #8d85f9;
}
.indigo-1:before {
  background-color: #8d85f9;
}
.svg-indigo-1 {
  fill: #8d85f9;
}
.line-indigo-1 {
  stroke:#8d85f9;
}
.features-indigo-1:before {
  background-color: #8d85f9 !important;
}

/* indigo 2 */
.indigo-2.text {
  color: #a39df5;
}
.indigo-2:before {
  background-color: #a39df5;
}
.svg-indigo-2, .svg-indigo-2 .box {
  fill: #a39df5;
}
.line-indigo-2, .svg-indigo-2 .box {
  stroke:#a39df5;
}
.features-indigo-2:before {
  background-color: #a39df5 !important;
}
.indigo-2.highlight:before {
  border: 2px solid #8d85f9;
}
.svg-indigo-2.highlight .box, .line-indigo-2.highlight {
  stroke:#8d85f9;
}
.indigo-2:active:before {
  background-color: #8d85f9;
}
.svg-indigo-2:active .box {
  fill: #8d85f9 !important;
}

/* indigo 3 */
.indigo-3.text {
  color: #b9b6fc;
}
.indigo-3:before {
  background-color: #b9b6fc;
}
.svg-indigo-3, .svg-indigo-3 .box {
  fill: #b9b6fc;
}
.line-indigo-3, .svg-indigo-3 .box {
  stroke:#b9b6fc;
}
.features-indigo-3:before {
  background-color: #b9b6fc !important;
}
.indigo-3.highlight:before {
  border: 2px solid #a39df5;
}
.svg-indigo-3.highlight .box, .line-indigo-3.highlight {
  stroke:#a39df5;
}
.indigo-3:active:before {
  background-color: #a39df5;
}
.svg-indigo-3:active .box {
  fill: #a39df5 !important;
}

/* cyan 1 */
.cyan-1.text {
  color: #42e2c7;
}
.cyan-1:before {
  background-color: #42e2c7;
}
.svg-cyan-1 {
  fill: #42e2c7;
}
.line-cyan-1 {
  stroke:#42e2c7;
}
.features-cyan-1:before {
  background-color: #42e2c7 !important;
}

/* cyan 2 */
.cyan-2.text {
  color: #6ae6cf;
}
.cyan-2:before {
  background-color: #6ae6cf;
}
.svg-cyan-2, .svg-cyan-2 .box {
  fill: #6ae6cf;
}
.line-cyan-2, .svg-cyan-2 .box {
  stroke:#6ae6cf;
}
.features-cyan-2:before {
  background-color: #6ae6cf !important;
}
.cyan-2.highlight:before {
  border: 2px solid #42e2c7;
}
.svg-cyan-2.highlight .box, .line-cyan-2.highlight {
  stroke:#42e2c7;
}
.cyan-2:active:before {
  background-color: #42e2c7;
}
.svg-cyan-2:active .box {
  fill: #42e2c7 !important;
}

/* cyan 3 */
.cyan-3.text {
  color: #84f0da;
}
.cyan-3:before {
  background-color: #84f0da;
}
.svg-cyan-3, .svg-cyan-3 .box {
  fill: #84f0da;
}
.line-cyan-3, .svg-cyan-3 .box {
  stroke:#84f0da;
}
.features-cyan-3:before {
  background-color: #84f0da !important;
}
.cyan-3.highlight:before {
  border: 2px solid #6ae6cf;
}
.svg-cyan-3.highlight .box, .line-cyan-3.highlight {
  stroke:#6ae6cf;
}
.cyan-3:active:before {
  background-color: #6ae6cf;
}
.svg-cyan-3:active .box {
  fill: #6ae6cf !important;
}

/* turquoise 1 */
.turquoise-1.text {
  color: #3cc681;
}
.turquoise-1:before {
  background-color: #3cc681;
}
.svg-turquoise-1 {
  fill: #3cc681;
}
.line-turquoise-1 {
  stroke:#3cc681;
}
.features-turquoise-1:before {
  background-color: #3cc681 !important;
}

/* turquoise 2 */
.turquoise-2.text {
  color: #5cd196;
}
.turquoise-2:before {
  background-color: #5cd196;
}
.svg-turquoise-2, .svg-turquoise-2 .box {
  fill: #5cd196;
}
.line-turquoise-2, .svg-turquoise-2 .box {
  stroke:#5cd196;
}
.features-turquoise-2:before {
  background-color: #5cd196 !important;
}
.turquoise-2.highlight:before {
  border: 2px solid #3cc681;
}
.svg-turquoise-2.highlight .box, .line-turquoise-2.highlight {
  stroke:#3cc681;
}
.turquoise-2:active:before {
  background-color: #3cc681;
}
.svg-turquoise-2:active .box {
  fill: #3cc681 !important;
}

/* turquoise 3 */
.turquoise-3.text {
  color: #81deaf;
}
.turquoise-3:before {
  background-color: #81deaf;
}
.svg-turquoise-3, .svg-turquoise-3 .box {
  fill: #81deaf;
}
.line-turquoise-3, .svg-turquoise-3 .box {
  stroke:#81deaf;
}
.features-turquoise-3:before {
  background-color: #81deaf !important;
}
.turquoise-3.highlight:before {
  border: 2px solid #5cd196;
}
.svg-turquoise-3.highlight .box, .line-turquoise-3.highlight {
  stroke:#5cd196;
}
.turquoise-3:active:before {
  background-color: #5cd196;
}
.svg-turquoise-3:active .box {
  fill: #5cd196 !important;
}

/* grey 1 */
.grey-1.text {
  color: #939393;
}
.grey-1:before {
  background-color: #939393;
}
.svg-grey-1 {
  fill: #939393;
}
.line-grey-1 {
  stroke:#939393;
}
.features-grey-1:before {
  background-color: #939393 !important;
}

/* grey 2 */
.grey-2.text {
  color: #a8a8a8;
}
.grey-2:before {
  background-color: #a8a8a8;
}
.svg-grey-2, .svg-grey-2 .box {
  fill: #a8a8a8;
}
.line-grey-2, .svg-grey-2 .box {
  stroke:#a8a8a8;
}
.features-grey-2:before {
  background-color: #a8a8a8 !important;
}
.grey-2.highlight:before {
  border: 2px solid #939393;
}
.svg-grey-2.highlight .box, .line-grey-2.highlight {
  stroke:#939393;
}
.grey-2:active:before {
  background-color: #939393;
}
.svg-grey-2:active .box {
  fill: #939393 !important;
}

/* grey 3 */
.grey-3.text {
  color: #bfbfbf;
}
.grey-3:before {
  background-color: #bfbfbf;
}
.svg-grey-3, .svg-grey-3 .box {
  fill: #bfbfbf;
}
.line-grey-3, .svg-grey-3 .box {
  stroke:#bfbfbf;
}
.features-grey-3:before {
  background-color: #bfbfbf !important;
}
.grey-3.highlight:before {
  border: 2px solid #a8a8a8;
}
.svg-grey-3.highlight .box, .line-grey-3.highlight {
  stroke:#a8a8a8;
}
.grey-3:active:before {
  background-color: #a8a8a8;
}
.svg-grey-3:active .box {
  fill: #a8a8a8 !important;
}

/* purple 1 */
.purple-1.text {
  color: #a342e2;
}
.purple-1:before {
  background-color: #a342e2;
}
.svg-purple-1 {
  fill: #a342e2;
}
.line-purple-1 {
  stroke:#a342e2;
}
.features-purple-1:before {
  background-color: #a342e2 !important;
}

/* purple 2 */
.purple-2.text {
  color: #b966e8;
}
.purple-2:before {
  background-color: #b966e8;
}
.svg-purple-2, .svg-purple-2 .box {
  fill: #b966e8;
}
.line-purple-2, .svg-purple-2 .box {
  stroke:#b966e8;
}
.features-purple-2:before {
  background-color: #b966e8 !important;
}
.purple-2.highlight:before {
  border: 2px solid #a342e2;
}
.svg-purple-2.highlight .box, .line-purple-2.highlight {
  stroke:#a342e2;
}
.purple-2:active:before {
  background-color: #a342e2;
}
.svg-purple-2:active .box {
  fill: #a342e2 !important;
}

.features-list {
  width: 100%;
  padding: 36px 20px 0;
}

.features-list-h {
  margin: 0;
  padding: 0;
  font-size: 19px;
  color: #282828;
  font-weight: 600;
}
.features-list-i {
  margin: 0;
  padding: 12px 0 0 24px;
  font-size: 16px;
  font-weight: normal;
  color: #282828;
  position: relative;
}
.features-list-i:before {
  content: '';
  width: 12px;
  height: 18px;
  position: absolute;
  top: 14px;
  left: 0;
  border-radius: 40%;
  background-color: gray;
}
