.roadmap {
  position: relative;
  height: 620px;
  overflow: hidden;
}

.roadmapChart-h {
  padding-bottom: 16px;
}

.roadmapChart-h-t {
  margin: 0;
  padding: 0;
  padding-right: 40px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #008cff;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.roadmapChart-h-t:after {
  content: "";
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/roadmap_open_info.svg);
  background-position: center;
  background-size: 36px;
  background-repeat: no-repeat;
}

.roadmapChart-h-desc {
  display: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.roadmapChart-h.active .roadmapChart-h-desc {
  display: block;
}

.roadmapChart-h.active .roadmapChart-h-t:after {
  background-image: url(../img/roadmap_close_info.svg);
}

.roadmapChart-breadcrumb > .breadcrumb-i {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
}

.roadmapChart-breadcrumb > .breadcrumb-i:after {
  content: " >";
}

.roadmap-b {
  width: 100%;
  height: 100%;
  padding: 16px;
  position: absolute;
  box-sizing: border-box;
}

.roadmap .roadmapNav {
  font-family: 'Open sans';
  font-size: 14px;
  width: 20%;
  height: 100%;
  padding: 8px;
  border-right: 1px solid #DDD;
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}

.roadmap .roadmapChart {
  width: 80%;
  padding: 0;
  float: left;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.roadmap .roadmapChart .roadmapChart-b {
  width: 100%;
}
.listTitle {
  font-size: 24px;
  line-height: 36px;
  padding-left: 8px;
  cursor: pointer;
  position: relative;
  color: #888888;
}

.taskText {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  fill: #FFF;
}

/* box */
.box {
  fill: #008cff;
  cursor: pointer;
}

.box.highlight {
  stroke: rgba(0,0,0,0.5);
  stroke-width: 1px;
}

/* lines */
.line- {
  stroke: steelblue;
}

/* markers */
.lineMarker {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5px;
}

.listBase {
  font-size: 12px;
  line-height: 36px;
  padding-left: 8px;
  cursor: pointer;
  position: relative;
  color: #888888;
}

.listBase.listClose {
  height: 36px;
  overflow: hidden;
}

.listBase.highlight {
  color: white;
}

.listBase.highlight:before {
  width: 100%;
}

.listBase:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 36px;
  top: 0;
  left: 0;
  z-index: -1;
}

/* blue 1 */
.blue-1:before {
  background-color: #008cff;
}
.svg-blue-1 {
  fill: #008cff;
}
.line-blue-1 {
  stroke:#008cff;
}

/* blue 2 */
.highlight.blue-2:hover:before {
  border: 2px solid #008cff;
}
.blue-2:active:before {
  background-color: #008cff;
}
.blue-2:before {
  background-color: #4dacff;
}
.svg-blue-2 {
  fill: #4dacff;
}
.line-blue-2 {
  stroke:#4dacff;
}

/* blue 3 */
.highlight.highlight.blue-3:hover:before {
  border: 2px solid #4dacff;
}
.blue-3:active:before {
  background-color: #4dacff;
}
.blue-3:before {
  background-color: #99d1ff;
}
.svg-blue-3 {
  fill: #99d1ff;
}
.line-blue-3 {
  stroke:#99d1ff;
}

/* orange 1 */
.orange-1:before {
  background-color: #f9874e;
}
.svg-orange-1 {
  fill: #f9874e;
}
.line-orange-1 {
  stroke:#f9874e;
}

/* orange 2 */
.highlight.orange-2:hover:before {
  border: 2px solid #f9874e;
}
.orange-2:active:before {
  background-color: #f9874e;
}
.orange-2:before {
  background-color: #fca071;
}
.svg-orange-2 {
  fill: #fca071;
}
.line-orange-2 {
  stroke:#fca071;
}

/* orange 3 */
.highlight.orange-3:hover:before {
  border: 2px solid #fca071;
}
.orange-3:active:before {
  background-color: #fca071;
}
.orange-3:before {
  background-color: #fcb590;
}
.svg-orange-3 {
  fill: #fcb590;
}
.line-orange-3 {
  stroke:#fcb590;
}

/* coral 1 */
.coral-1:before {
  background-color: #f27e7e;
}
.svg-coral-1 {
  fill: #f27e7e;
}
.line-coral-1 {
  stroke:#f27e7e;
}

/* coral 2 */
.highlight.coral-2:hover:before {
  border: 2px solid #f27e7e;
}
.coral-2:active:before {
  background-color: #f27e7e;
}
.coral-2:before {
  background-color: #f79797;
}
.svg-coral-2 {
  fill: #f79797;
}
.line-coral-2 {
  stroke:#f79797;
}

/* coral 3 */
.highlight.coral-3:hover:before {
  border: 2px solid #f79797;
}
.coral-3:active:before {
  background-color: #f79797;
}
.coral-3:before {
  background-color: #fab2b2;
}
.svg-coral-3 {
  fill: #fab2b2;
}
.line-coral-3 {
  stroke:#fab2b2;
}

/* pink 1 */
.pink-1:before {
  background-color: #e56ee5;
}
.svg-pink-1 {
  fill: #e56ee5;
}
.line-pink-1 {
  stroke:#e56ee5;
}

/* pink 2 */
.highlight.pink-2:hover:before {
  border: 2px solid #e56ee5;
}
.pink-2:active:before {
  background-color: #e56ee5;
}
.pink-2:before {
  background-color: #e88be8;
}
.svg-pink-2 {
  fill: #e88be8;
}
.line-pink-2 {
  stroke:#e88be8;
}

/* pink 3 */
.highlight.pink-3:hover:before {
  border: 2px solid #e88be8;
}
.pink-3:active:before {
  background-color: #e88be8;
}
.pink-3:before {
  background-color: #f2a5f2;
}
.svg-pink-3 {
  fill: #f2a5f2;
}
.line-pink-3 {
  stroke:#f2a5f2;
}

/* green 1 */
.green-1:before {
  background-color: #6fbc24;
}
.svg-green-1 {
  fill: #6fbc24;
}
.line-green-1 {
  stroke:#6fbc24;
}

/* green 2 */
.highlight.green-2:hover:before {
  border: 2px solid #6fbc24;
}
.green-2:active:before {
  background-color: #6fbc24;
}
.green-2:before {
  background-color: #8fc956;
}
.svg-green-2 {
  fill: #8fc956;
}
.line-green-2 {
  stroke:#8fc956;
}

/* green 3 */
.highlight.green-3:hover:before {
  border: 2px solid #8fc956;
}
.green-3:active:before {
  background-color: #8fc956;
}
.green-3:before {
  background-color: #a7d97c;
}
.svg-green-3 {
  fill: #a7d97c;
}
.line-green-3 {
  stroke:#a7d97c;
}

/* indigo 1 */
.indigo-1:before {
  background-color: #8d85f9;
}
.svg-indigo-1 {
  fill: #8d85f9;
}
.line-indigo-1 {
  stroke:#8d85f9;
}

/* indigo 2 */
.highlight.indigo-2:hover:before {
  border: 2px solid #8d85f9;
}
.indigo-2:active:before {
  background-color: #8d85f9;
}
.indigo-2:before {
  background-color: #a39df5;
}
.svg-indigo-2 {
  fill: #a39df5;
}
.line-indigo-2 {
  stroke:#a39df5;
}

/* indigo 3 */
.highlight.indigo-3:hover:before {
  border: 2px solid #a39df5;
}
.indigo-3:active:before {
  background-color: #a39df5;
}
.indigo-3:before {
  background-color: #b9b6fc;
}
.svg-indigo-3 {
  fill: #b9b6fc;
}
.line-indigo-3 {
  stroke:#b9b6fc;
}

/* cyan 1 */
.cyan-1:before {
  background-color: #42e2c7;
}
.svg-cyan-1 {
  fill: #42e2c7;
}
.line-cyan-1 {
  stroke:#42e2c7;
}

/* cyan 2 */
.highlight.cyan-2:hover:before {
  border: 2px solid #42e2c7;
}
.cyan-2:active:before {
  background-color: #42e2c7;
}
.cyan-2:before {
  background-color: #6ae6cf;
}
.svg-cyan-2 {
  fill: #6ae6cf;
}
.line-cyan-2 {
  stroke:#6ae6cf;
}

/* cyan 3 */
.highlight.cyan-3:hover:before {
  border: 2px solid #6ae6cf;
}
.cyan-3:active:before {
  background-color: #6ae6cf;
}
.cyan-3:before {
  background-color: #84f0da;
}
.svg-cyan-3 {
  fill: #84f0da;
}
.line-cyan-3 {
  stroke:#84f0da;
}

/* turquoise 1 */
.turquoise-1:before {
  background-color: #3cc681;
}
.svg-turquoise-1 {
  fill: #3cc681;
}
.line-turquoise-1 {
  stroke:#3cc681;
}

/* turquoise 2 */
.highlight.turquoise-2:hover:before {
  border: 2px solid #3cc681;
}
.turquoise-2:active:before {
  background-color: #3cc681;
}
.turquoise-2:before {
  background-color: #5cd196;
}
.svg-turquoise-2 {
  fill: #5cd196;
}
.line-turquoise-2 {
  stroke:#5cd196;
}

/* turquoise 3 */
.highlight.turquoise-3:hover:before {
  border: 2px solid #5cd196;
}
.turquoise-3:active:before {
  background-color: #5cd196;
}
.turquoise-3:before {
  background-color: #81deaf;
}
.svg-turquoise-3 {
  fill: #81deaf;
}
.line-turquoise-3 {
  stroke:#81deaf;
}

/* grey 1 */
.grey-1:before {
  background-color: #939393;
}
.svg-grey-1 {
  fill: #939393;
}
.line-grey-1 {
  stroke:#939393;
}

/* grey 2 */
.highlight.grey-2:hover:before {
  border: 2px solid #939393;
}
.grey-2:active:before {
  background-color: #939393;
}
.grey-2:before {
  background-color: #a8a8a8;
}
.svg-grey-2 {
  fill: #a8a8a8;
}
.line-grey-2 {
  stroke:#a8a8a8;
}

/* grey 3 */
.highlight.grey-3:hover:before {
  border: 2px solid #a8a8a8;
}
.grey-3:active:before {
  background-color: #a8a8a8;
}
.grey-3:before {
  background-color: #bfbfbf;
}
.svg-grey-3 {
  fill: #bfbfbf;
}
.line-grey-3 {
  stroke:#bfbfbf;
}

/* purple 1 */
.purple-1:before {
  background-color: #a342e2;
}

.svg-purple-1 {
  fill: #a342e2;
}
.line-purple-1 {
  stroke:#a342e2;
}

/* purple 2 */
.highlight.purple-2:hover:before {
  border: 2px solid #a342e2;
}
.purple-2:active:before {
  background-color: #a342e2;
}
.purple-2:before {
  background-color: #b966e8;
}
.svg-purple-2 {
  fill: #b966e8;
}
.line-purple-2 {
  stroke:#b966e8;
}


/* chart header */
.chart-header-b {
  fill: #EEE;
}

.chart-header-progress {
  fill: #99d1ff;
}
