/* Less Than 1135px */
@media screen and (min-width: 830px) and (max-width: 1134px){
  /* Header */
  header .sec-1 {
    width: 25%;
  }
  header .sec-2 {
    width: 75%;
  }
  header .sec-2 .primary-nav {
    display: block !important;
  }

  /* Secondary Navigation */
  header .secondary-nav.show {
    display: none !important;
  }
  /* #Header */

  /* Footer */
  /* Footer Branding structure changes */
  footer .brand-list .brand-list-base .sec-center {
    padding-left: 0;
    padding-right: 0;
    float: none;
  }

  footer .brand-list .brand-list-base .sec-left {
    position: static;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 -2px 0 #1c6fad;
  }

  footer .brand-list .brand-list-base .sec-right {
    position: static;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 -2px 0 #1c6fad;
  }

  footer .brand-list .brand-list-items {
    width: 50%;
    float: left;
  }

  footer .brand-list .brand-list-base .brand-list-items.lg {
    width: 100%;
  }

  footer .brand-list .brand-list-base .sec-left .brand-list-items:first-child,
  footer .brand-list .brand-list-base .sec-right .brand-list-items:first-child {
    box-shadow: 2px 0 0 #1c6fad;
  }

  footer .brand-list .brand-list-base .brand-list-items .brand-logo {
    height: 90px;
    margin-top: 17px;
  }

  footer .brand-list .brand-list-base .brand-list-items.lg .brand-logo {
    margin-top: 17px;
  }

  footer .brand-list .brand-list-base .brand-list-items > .title {
    padding-bottom: 3px;
    margin-bottom: 18px;
  }

  footer .layer-2 {
    width: 100%;
    margin-top: 28px;
  }

  footer .layer-2 .key-map {
    width: 25%;
    padding: 0;
  }

  footer .layer-2 .key-map.small {
    width: 25%;
  }

  footer .layer-2 .key-map.large {
    width: 25%;
  }
  /* #Footer */

  /* Home Banner */
  .home-banner {
    height: 520px;
  }

  .home-banner .label-1 {
    font-size: 49px;
    font-weight: 600;
  }

  .home-banner .label-2 {
    font-size: 29px;
  }

  /* #Home Banner */

  /* Typing Effect */
  .typing.lg {
    line-height: 50px;
  }

  .typing.lg:after {
    height: 49px;
  }
  /* #Typing Effect */

  .sub-page-title-opt {
    display: block !important;
  }

  /* Secondary Navigation Button  */
  .secNavButton {
    display: none !important;
  }
  /* #Secondary Navigation Button  */

  /* Page 1 */
  .page-1 {
    width: 585px;
    padding-left: 0;
    padding-right: 0;
  }

  .page-1-base {
    width: 100%;
    margin: 0;
  }
  /* #Page 1 */

  /* Page 2 */
  /* content size changes */
  .page-2 {
    width: 585px;
  }

  .page-2 .page-2-media {
    display: block;
  }

  .page-2 .page-2-media .media-src {
    width: 480px;
    margin: 0 auto;
    display: block;
  }

  .page-2 .page-2-media .media-content {
    width: 100%;
    display: block;
    padding-top: 40px;
    padding-left: 24px;
  }
  /* #Page 2 */

  /* MaidSafe Team Banner height changes */
  .page-banner.maidsafe-team {
    height: 300px;
  }
  /* #MaidSafe Team Banner height changes */

  /* Page Banner */
  .page-banner {
    height: 300px;
  }

  .page-banner.home-like {
    height: 370px;
  }
  /* #Page Banner */

  /* POST 1 */
  .post-1 {
    width: 585px;
    display: block;
  }

  .post-1 .media {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-top: 40px;
  }

  .post-1 .media img  {
    height: 360px;
    display: block;
    margin: 0 auto;
  }

  .post-1 .content {
    width: 100%;
    text-align: left;
    padding-top: 340px;
  }

  .post-1 .content .title {
    margin: 0;
    text-align: center;
  }
  /* #POST 1 */

  /* Box 1 */
  .box-1 .item:first-child {
    width: 100%;
    padding: 0;
  }

  .box-1 .item:nth-child(2),.box-1 .item:last-child  {
    width: 50%;
    padding: 30px 0 0 0;
  }

  .box-1 .item:nth-child(2) {
    padding-right: 15px;
  }

  .box-1 .item:last-child {
    padding-left: 15px;
  }
  /* #Box 1 */

  /* Box 2 */
  .box-2 .item {
    float: left;
  }

  .box-2 .item:first-child {
    padding-right: 16px;
  }

  .box-2 .item:last-child {
    padding-left: 16px;
  }
  /* #Box 2 */
}


/* Above 960px */
@media screen and (min-width: 960px) {
  /* Small screen above 960 footer branding changes to single row */
  footer .brand-list .brand-list-base .sec-center {
    width: 272px;
    margin: 0 auto;
    padding: 0;
    float: none;
    z-index: 1;
  }

  footer .brand-list .brand-list-base .sec-center {
    border: 0;
  }

  footer .brand-list .brand-list-base .sec-left {
    width: 50%;
    position: absolute;
    left: 0;
    padding: 0;
    text-align: right;
    padding-right: 136px;
    box-shadow: 0 0 0 transparent;
  }

  footer .brand-list .brand-list-base .sec-right {
    width: 50%;
    position: absolute;
    right: 0;
    padding: 0;
    text-align: left;
    padding-left: 136px;
    box-shadow: 0 0 0 transparent;
  }

  footer .brand-list .brand-list-base .sec-left .brand-list-items {
    float: right;
  }

  footer .brand-list .brand-list-base .sec-right .brand-list-items {
    float: left;
  }

  footer .brand-list .brand-list-base .sec-left .brand-list-items,
  footer .brand-list .brand-list-base .sec-right .brand-list-items {
    width: 172px;
    box-shadow: 0 0 0 transparent !important;
  }

  footer .layer-2  {
    width: 960px;
  }

  footer .layer-2 .key-map,
  footer .layer-2 .key-map.small,
  footer .layer-2 .key-map.large {
    width: auto;
  }

  footer .layer-2 .key-map:not(:last-child) {
    width: 166.66px;
    float: left;
  }

  footer .layer-2 .key-map:last-child {
    width: 140px;
    float: right;
  }
}
