/* Less Than 1135px */
@media screen and (min-width: 830px) and (max-width: 1134px){
  /* Header */
  header .sec-1 {
    width: 25%;
  }
  header .sec-2 {
    width: 75%;
  }
  header .sec-2 .primary-nav {
    display: block !important;
  }

  /* Secondary Navigation */
  header .secondary-nav.show {
    display: none !important;
  }
  /* #Header */

  /* Home Banner */
  .home-banner {
    height: 520px;
  }

  .home-banner .label-1 {
    font-size: 49px;
    font-weight: 600;
  }

  .home-banner .label-2 {
    font-size: 29px;
  }

  /* #Home Banner */

  /* Typing Effect */
  .typing.lg {
    line-height: 50px;
  }

  .typing.lg:after {
    height: 49px;
  }
  /* #Typing Effect */

  .sub-page-title-opt {
    display: block !important;
  }

  /* Secondary Navigation Button  */
  .secNavButton {
    display: none !important;
  }
  /* #Secondary Navigation Button  */

  /* Page 1 */
  .page-1 {
    width: 585px;
    padding-left: 0;
    padding-right: 0;
  }

  .page-1-base {
    width: 100%;
    margin: 0;
  }
  /* #Page 1 */

  /* Page 2 */
  /* content size changes */
  .page-2 {
    width: 585px;
  }

  .page-2 .page-2-media {
    display: block;
  }

  .page-2 .page-2-media .media-src {
    width: 480px;
    margin: 0 auto;
    display: block;
  }

  .page-2 .page-2-media .media-content {
    width: 100%;
    display: block;
    padding-top: 40px;
    padding-left: 24px;
  }
  /* #Page 2 */

  /* MaidSafe Team Banner height changes */
  .page-banner.maidsafe-team {
    height: 300px;
  }
  /* #MaidSafe Team Banner height changes */

  /* Page Banner */
  .page-banner {
    height: 300px;
  }

  .page-banner.home-like {
    height: 370px;
  }
  /* #Page Banner */

  /* POST 1 */
  .post-1 {
    width: 585px;
    display: block;
  }

  .post-1 .media {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-top: 40px;
  }

  .post-1 .media img  {
    height: 360px;
    display: block;
    margin: 0 auto;
  }

  .post-1 .content {
    width: 100%;
    text-align: left;
    padding-top: 340px;
  }

  .post-1 .content .title {
    margin: 0;
    text-align: center;
  }
  /* #POST 1 */

  /* Box 1 */
  .box-1 .item:first-child {
    width: 100%;
    padding: 0;
  }

  .box-1 .item:nth-child(2),.box-1 .item:last-child  {
    width: 50%;
    padding: 30px 0 0 0;
  }

  .box-1 .item:nth-child(2) {
    padding-right: 15px;
  }

  .box-1 .item:last-child {
    padding-left: 15px;
  }
  /* #Box 1 */

  /* Box 2 */
  .box-2 .item {
    float: left;
  }

  .box-2 .item:first-child {
    padding-right: 16px;
  }

  .box-2 .item:last-child {
    padding-left: 16px;
  }
  /* #Box 2 */

  /* Footer */
  .footer-wig-a {
    width: 277px;
  }

  .footer-wig-b:last-child {
    width: 100%;
  }
  /* #Footer */
  /* Content 1 */
  .content-1 {
    width: 585px;
    padding: 80px 0;
  }
  .content-1 h3 {
    font-size: 39px;
    line-height: 49px;
  }
  .content-1 p {
    font-size: 18px;
    line-height: 22px;
  }
  /* #Content 1 */
  /* Post 2 */
  .post-2 {
    width: 585px;
    padding: 0 16px 80px;
    display: block;
  }
  .post-2 .post-2-content {
    display: block;
    width: 100%;
  }
  .post-2 .post-2-content h3 {
    font-size: 29px;
    line-height: 39px;
  }
  .post-2 .post-2-content p {
    font-size: 18px;
    line-height: 22px;
  }
  .post-2 .post-2-media {
    display: block;
    width: 100%;
    padding: 0 0 50px;
  }
  .post-2 .post-2-media img {
    margin: 0;
    width: auto;
  }
  .post-2.flip{
    transform: rotateZ(0deg);
    padding: 0 16px 80px;
  }
  .post-2.flip .post-2-content, .post-2.flip .post-2-media {
    transform: rotateZ(0deg);
  }
  /* #Post 2 */
}
