/* Media Less than 830px  */
@media screen and (min-width: 512px) and (max-width: 829px) {
  /* Common */
  /* #Common */
  /* Home Banner */
  .home-banner {
    height: 400px;
  }
  .home-banner .forNonTouch {
    display: none;
  }
  .home-banner .forTouch {
    display: block;
  }
  .home-banner .label-1 {
    font-size: 32px;
    font-weight: 600;
  }

  .home-banner .label-2 {
    font-size: 23px;
  }

  /* #Home Banner */
  .typing.lg {
    line-height: 36px;
  }

  .typing.lg:after {
    height: 32px;
  }

  /* Page Banner */
  .page-banner {
    height: 300px;
  }

  .page-banner.home-like {
    height: 370px;
  }
  /* #Page Banner */

  /* Page 1 */
  .page-1 {
    width: 512px;
    padding-left: 0;
    padding-right: 0;
  }

  .page-1 .title {
    font-size: 38px;
    line-height: 49px;
  }
  /* #Page 1 */
  .layout-1 {
    width: 100%;
  }
  .layout-1 .lsec {
    width: 100%;
    padding: 0;
  }
  .layout-1 .rsec {
    width: 100%;
    padding: 0;
  }

  /* Page 2 */
  .page-2 {
    width: 480px;
  }

  .page-2 .title {
    font-size: 38px;
    line-height: 49px;
  }

  .page-2 .page-2-media {
    display: block;
  }

  .page-2 .page-2-media .media-src {
    width: 480px;
    margin: 0 auto;
    display: block;
  }

  .page-2 .page-2-media .media-content {
    width: 100%;
    display: block;
    padding-top: 40px;
    padding-left: 24px;
  }
  /* #Page 2 */

  /* POST 1 */
  .post-1 {
    width: 480px;
    display: block;
  }

  .post-1 .media {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-top: 40px;
  }

  .post-1 .media img  {
    height: 360px;
    display: block;
    margin: 0 auto;
  }

  .post-1 .content {
    width: 100%;
    text-align: left;
    padding-top: 340px;
  }

  .post-1 .content .title {
    margin-top: 0;
    text-align: center;
  }
  .post-1 .content .p {
    text-align: justify;
  }
  /* #POST 1 */

  /* MaidSafe Team Banner height changes */
  .page-banner.maidsafe-team {
    height: 300px;
  }
  /* #MaidSafe Team Banner height changes */


  /* Box 1 */
  .box-1 .item:first-child {
    width: 100%;
    padding: 0;
  }

  .box-1 .item:nth-child(2),.box-1 .item:last-child  {
    width: 50%;
    padding: 30px 0 0 0;
  }

  .box-1 .item:nth-child(2) {
    padding-right: 15px;
  }

  .box-1 .item:last-child {
    padding-left: 15px;
  }
  /* #Box 1 */

  /* Box 2 */
  .box-2 .item {
    float: left;
  }

  .box-2 .item:first-child {
    padding-right: 16px;
  }

  .box-2 .item:last-child {
    padding-left: 16px;
  }
  /* #Box 2 */

  /* Footer */
  .app-footer .app-footer-b {
    width: 480px;
  }
  .footer-wig-a-cont {
    padding: 2.5px 0;
  }
  .app-footer .app-footer-r.top {
    width: 100%;
  }
  .footer-wig-b {
    width: 220px;
    min-height: 201px;
  }
  .footer-wig-b:nth-child(even) {
    width: 50%;
  }
  /* #Footer */
  /* Content 1 */
  .content-1 {
    width: 480px;
    padding: 80px 0;
  }
  .content-1 h3 {
    font-size: 39px;
    line-height: 49px;
  }
  .content-1 p {
    font-size: 18px;
    line-height: 22px;
  }
  /* #Content 1 */
  /* Post 2 */
  .post-2 {
    width: 480px;
    padding: 80px 16px 0;
    display: block;
  }
  .post-2:last-child {
    padding-bottom: 80px;
  }
  .post-2 .post-2-content {
    display: block;
    width: 100%;
  }
  .post-2 .post-2-content h3 {
    font-size: 29px;
    line-height: 39px;
    text-align: center;
  }
  .post-2 .post-2-content p {
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
  }
  .post-2 .post-2-media {
    display: block;
    width: 100%;
    padding: 0 0 50px;
  }
  .post-2 .post-2-media img {
    margin: 0;
    padding: 0;
    width: auto;
  }
  .post-2.flip .post-2-content, .post-2.flip .post-2-media {
    transform: translateX(0);
  }
  /* #Post 2 */
  /* Team Img*/
  .team-img .team-img-i {
    width: 20%;
    height: auto;
  }
  /* #Team Img*/
  /* Post 3 */
  .post-3 {
    width: 100%;
    overflow: hidden;
  }
  .post-3 .post-3-cont {
    padding: 60px 0 120px;
    margin-top: 0;
  }
  .post-3 .post-3-cont .post-3-cont-i {
    width: 480px;
  }
  .post-3 .post-3-cont p {
    margin-top: 30px;
  }
  /* #Post 3 */
  /* Overlay */
  .overlay .overlay-cont {
    width: 480px;
  }
  .overlay .overlay-cont .overlay-cont-i iframe {
    height: 315px;
  }
  /* #Overlay */
  /* Content 3 */
  .content-3 {
    width: 480px;
  }
  /* #Content 3 */

  /* Roadmap */
  .roadmap {
    /*display: flex;*/
    height: auto;
    min-height: 600px;
  }
  .roadmap .roadmapNav {
    width: 30%;
    height: 100%;
    min-height: inherit;
  }
  .roadmap .roadmapChart {
    width: 70%;
  }
 .roadmapBreadcrumb .breadcrumb-i {
    padding-bottom: 8px;
  }
  .roadmapSvg {
    display: none;
  }
  .roadmapChart-h {
    padding: 0;
  }
  .roadmapChart-h-menu {
    display: none;
  }
  .roadmapChart-h-t {
    width: 100%;
    color: white !important;
    padding-left: 20px;
    line-height: 50px;
    position: relative;
  }
  .roadmapChart-h-t:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
   .roadmapChart-h-t  > div {
    width: 100%;
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .roadmapChart-h-t .info-icon {
    display: none !important;
  }
  .roadmapChart-h-desc {
    /*display: block !important;*/
    /*padding: 8px 20px 0;*/
    display: none;
  }
  .roadmapChart-h-desc-title {
    display: block;
    padding: 20px 0 8px;
    font-size: 19px;
    color: #282828;
    font-weight: 600;
  }
}
