/* Media Less than 830px  */
@media screen and (min-width: 512px) and (max-width: 829px) {
  /* Home Banner */
  .home-banner {
    height: 400px;
  }

  .home-banner .label-1 {
    font-size: 32px;
    font-weight: 600;
  }

  .home-banner .label-2 {
    font-size: 23px;
  }

  /* #Home Banner */
  .typing.lg {
    line-height: 36px;
  }
  .typing.lg:after {
    height: 32px;
  }

  /* Safe Client*/
  .safe-client .title {
    margin-top: 48px;
  }

  .safe-client .desc {
    margin-top: 24px;
  }

  .safe-client .media {
    margin: 34px 0 36px;
  }

  .safe-client .foot {
    margin-bottom: 40px;
  }
  /* #Safe Client*/

  /* Footer */
  /* Footer Branding structure changes */
  footer .brand-list .brand-list-base .sec-center {
    padding-left: 0;
    padding-right: 0;
    float: none;
  }

  footer .brand-list .brand-list-base .sec-left {
    position: static;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 -2px 0 #1c6fad;
  }

  footer .brand-list .brand-list-base .sec-right {
    position: static;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 -2px 0 #1c6fad;
  }

  footer .brand-list .brand-list-items {
    width: 50%;
    float: left;
  }

  footer .brand-list .brand-list-base .brand-list-items.lg {
    width: 100%;
  }

  footer .brand-list .brand-list-base .sec-left .brand-list-items:first-child,
  footer .brand-list .brand-list-base .sec-right .brand-list-items:first-child {
    box-shadow: 2px 0 0 #1c6fad;
  }

  footer .brand-list .brand-list-base .brand-list-items .brand-logo {
    height: 90px;
    margin-top: 17px;
  }

  footer .brand-list .brand-list-base .brand-list-items.lg .brand-logo {
    margin-top: 17px;
  }

  footer .brand-list .brand-list-base .brand-list-items > .title {
    padding-bottom: 3px;
    margin-bottom: 18px;
  }

  footer .layer-2 {
    margin-top: 28px;
  }

  footer .layer-2 .key-map {
    width: 25%;
    padding: 0;
  }
  footer .layer-2 .key-map.small {
    width: 25%;
  }
  footer .layer-2 .key-map.large {
    width: 25%;
  }
  /* #Footer */

  /* Page Banner */
  .page-banner {
    height: 300px;
  }
  .page-banner.home-like {
    height: 370px;
  }
  /* #Page Banner */

  /* POST 1 */
  .post-1 {
    width: 480px;
    display: block;
  }
  .post-1 .media {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-top: 40px;
  }
  .post-1 .media img  {
    height: 360px;
    display: block;
    margin: 0 auto;
  }
  .post-1 .content {
    width: 100%;
    text-align: left;
    padding-top: 340px;
  }
  .post-1 .content .title {
    margin-top: 0;
    text-align: center;
  }
  /* #POST 1 */

  /* Page 2 */
  .page-2 {
    width: 480px;
  }
  .page-2 .title {
    font-size: 38px;
    line-height: 49px;
  }
  .page-2 .page-2-media {
    display: block;
  }
  .page-2 .page-2-media .media-src {
    width: 480px;
    margin: 0 auto;
    display: block;
  }
  .page-2 .page-2-media .media-content {
    width: 100%;
    display: block;
    padding-top: 40px;
    padding-left: 24px;
  }
  /* #Page 2 */
  /* MaidSafe Team Banner height changes */
  .page-banner.maidsafe-team {
    height: 300px;
  }
  /* #MaidSafe Team Banner height changes */

  /* Page 1 */
  .page-1 {
    width: 480px;
    padding-left: 0;
    padding-right: 0;
  }
  .page-1 .title {
    font-size: 38px;
    line-height: 49px;
  }
  /* #Page 1 */

  /* Box 1 */
  .box-1 .item:first-child {
    width: 100%;
    padding: 0;
  }

  .box-1 .item:nth-child(2),.box-1 .item:last-child  {
    width: 50%;
    padding: 30px 0 0 0;
  }
  .box-1 .item:nth-child(2) {
    padding-right: 15px;
  }
  .box-1 .item:last-child {
    padding-left: 15px;
  }
  /* #Box 1 */

  /* Box 2 */
  .box-2 .item {
    float: left;
  }
  .box-2 .item:first-child {
    padding-right: 16px;
  }
  .box-2 .item:last-child {
    padding-left: 16px;
  }
  /* #Box 2 */
}
