@media only screen and (max-width: 410px) {
  #assets #meetup-cover img{
    margin: 2px 0 0 -80px;
    width: auto;
    height: 80px;
  }
  #assets #twitter-cover img{
    height:80px;
    width: auto;
    margin: 2px 0 0 -50px;
  }
  #assets #wee-plane img{
    height:130px;
    width: auto;
    margin-left:-70px;
  }

  #company .plane-banner{
    display:none;
  }
}
