@media only screen and (max-width: 480px) {
  .video-box {
    height:162px;
  }

  #home h2 {
    font-size:10px;
    margin-bottom:20px;
  }

  #home .para-l h2,
  #home .para-r h2 {
    font-size:20px;
    margin-bottom:20px;
    padding:0px;
  }

  #home .para-l p,
  #home .para-r p {
    padding:0px;
  }

  #company .plane-banner{
    width: 225px;
  }

  footer .footer-links {
    display: none;
  }

}
