<!-- build:js(app) /js/home.js -->
<script type="application/javascript" src="_bower_components/components-modernizr/modernizr.js"></script>
<script type="application/javascript" src="js/third-party/masonry.pkgd.min.js"></script>
<script type="application/javascript" src="_bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script type="application/javascript" src="_bower_components/classie/classie.js"></script>
<script type="application/javascript" src="../js/third-party/AnimOnScroll.js"></script>
<script type="application/javascript" src="js/press.js"></script>
<!-- endbuild -->
