<!-- build:js(app) /js/timeline.js -->
<script type="application/javascript" src="_bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="application/javascript" src="_bower_components/jquery-mousewheel/jquery.mousewheel.min.js"></script>
<script type="application/javascript" src="_bower_components/jquery.kinetic/jquery.kinetic.min.js"></script>
<script type="application/javascript" src="js/third-party/jquery.smoothdivscroll-1.3-min.js"></script>
<script type="application/javascript" src="js/timeline.js"></script>
<!-- endbuild -->
<!-- build:css(app) css/timeline.css -->
<link rel="stylesheet" href="css/third-party/smoothDivScroll.css">
<!-- endbuild -->
