<div class="container-12 section1">
  <div class="grid-9 main-content" id="community">
    <h1>Community</h1>
    <p>For an ownerless and freed Internet to survive and grow, there must be a strong base of community support. The SAFE Network already has attracted hundreds of people looking to participate from the start and expect this interest to accelerate further everyday.</p>

    <p>Here are some of the ways you can get involved...</p>

    <div class="grid-3 col-l pull-left">
      <div class="maidsafeorg-logo"></div>
      <p>The central point for our community is at MaidSafe.org. Here you can find discussions on community projects and find various levels of support. </p>
    </div>
    <div class="grid-3">
      <a href="http://maidsafe.meetup.com/" target="_blank">
        <div class="meetup-logo"></div>
      </a>
      <p>Find people and events in your area related to MaidSafe and Project SAFE. Or start a group yourself!</p>
    </div>
    <div class="grid-3 col-r pull-right">
      <a class="btn btn-download small-download" href="#">
        <span class="btn-text">Download</span>
      </a>
      <p class="sub-btn"> v1.0-Beta for Mac </p>
      <p>Strenthen the network with your spare storage and computing resources by installing the SAFE client! </p>
    </div>
    <div class="grid-3 col-l pull-left">
      <div class="maidsafedev-logo"></div>
      <p>If you are looking to build a SAFE application, visit our developer portal where you can learn everything you need to know to plug into the SAFE Network.</p>
    </div>
    <div class="grid-6 col-r pull-right">
      <a id="map-popup"></a>
      <p>SAFE pods are ways for local groups of builders to meet and collaborate on various projects ranging from app development to core language education and developer outreach.</p>
    </div>
  </div>
  <div class="overlay"></div>
  <div id="big-map">
    <dl id="pod-map">
      <dd id="pod-0"><a id="troon" href="#"><div>Troon</div></a></dd>
      <dd id="pod-1"><a id="sanfrancisco" href="http://www.meetup.com/Project-SAFE-San-Francisco/" target="_blank"><div>San Francisco</div></a></dd>
      <dd id="pod-2"><a id="sydney" href="http://www.meetup.com/Sydney-Project-SAFE/" target="_blank"><div>Sydney</div></a></dd>
      <dd id="pod-3"><a id="montreal" href="http://www.safepodmtl.com/" target="_blank"><div>Montreal</div></a></dd>
    </dl>
    <span id="legend">
      <div id="hq">
        <img alt="" src="/img/pod_icon_maidsafe_sm.png">
        <p>MaidSafe HQ</p>
      </div>
      <div id="pods">
        <img alt="" src="/img/pod_icon.png">
        <p>Established SAFE Pods</p>
      </div>
    </span>
    <a title="Close" class="close_btn" href="javascript:;"></a>
  </div>
</div>
