<!-- Site Footer -->
<footer class="app-footer">
  <div class="app-footer-b">
    <div class="app-footer-r top">
      <!-- Community Forum -->
      <div class="footer-wig-a">
        <div class="footer-wig-a-cont">
          <a href="https://forum.safenetwork.io/">
            <img src="img/community.png" alt="MiadSafe Community">
            <h3>Community Forum</h3>
          </a>
        </div>
      </div>
      <!-- #Community Forum -->
      <!-- Twitter -->
      <div class="footer-wig-a">
        <div class="footer-wig-a-cont">
          <a href="https://twitter.com/maidsafe">
            <img src="img/twitter.png" alt="MiadSafe Twitter">
            <h3>Twitter</h3>
          </a>
        </div>
      </div>
      <!-- #Twitter -->
      <!-- Meetup -->
      <div class="footer-wig-a">
        <div class="footer-wig-a-cont">
          <a href="http://www.meetup.com/find/?allMeetups=false&keywords=maidsafe&radius=Infinity&userFreeform=Montr%C3%A9al%2C+QC&mcId=z282765&mcName=Montr%C3%A9al%2C+Qu%C3%A9bec%2C+CA&sort=recommended&eventFilter=mysugg">
            <img src="img/meetup.png" alt="MaidSafe Meetup">
            <h3>Meetups</h3>
          </a>
        </div>
      </div>
      <!-- #Meetup -->
    </div>
    <div class="spliter"></div>
    <div class="app-footer-r middle">
      <!-- Features -->
      <div class="footer-wig-b">
        <div class="footer-wig-b-cont">
          <h3><a href="./features.html">Features</a></h3>
          <ul>
            <li><a href="./features.html#self-auth">Self-Authentication</a></li>
            <li><a href="./features.html#self-encryption">Self-Encryption</a></li>
            <li><a href="./features.html#distributed-network">Distributed Network</a></li>
            <li><a href="./features.html#data-availability">Data Availability</a></li>
            <li><a href="./features.html#de-duplication">Deduplication</a></li>
          </ul>
        </div>
      </div>
      <!-- #Features -->
      <!-- Safecoin -->
      <div class="footer-wig-b">
        <div class="footer-wig-b-cont">
          <h3><a href="./safecoin.html">Safecoin</a></h3>
          <ul>
            <li><a href="./safecoin.html#global-distribution">Global Distribution</a></li>
            <li><a href="./safecoin.html#farming">Farming</a></li>
            <li><a href="./safecoin.html#resource-economy">Resource Economy</a></li>
            <li><a href="./safecoin.html#proof-of-resource">Proof of Resource</a></li>
            <li><a href="./safecoin.html#new-marketplace">New Marketplace</a></li>
          </ul>
        </div>
      </div>
      <!-- #Safecoin -->
      <!-- Company -->
      <div class="footer-wig-b">
        <div class="footer-wig-b-cont">
          <h3><a href="./company.html">Company</a></h3>
          <ul>
            <li><a href="./company.html#who-we-are">Who we are</a></li>
            <li><a href="./company.html#what-drives-us">What drives us</a></li>
            <li><a href="./company.html#join-our-team">Jobs</a></li>
            <li><a href="./roadmap.html">Roadmap</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
      <!-- #Company -->
      <!-- FAQ -->
      <div class="footer-wig-b">
        <div class="footer-wig-b-cont">
          <h3><a href="./faq.html">FAQs</a></h3>
          <ul>
            <li><a href="./faq.html#faq">Frequently asked questions</a></li>
            <li><a href="./faq.html#unanswered">Question still not answered?</a></li>
          </ul>
        </div>
      </div>
      <!-- #FAQ -->
    </div>
    <div class="app-footer-r bottom">
      <div class="footer-hz-li">
        <ul>
          <li><a href="./disclaimer.html">Disclaimer</a></li>
          <li><a href="./privacy.html">Privacy</a></li>
          <li><a href="./credits.html">Credits</a></li>
          <li><a href="./contact.html">Contact Us</a></li>
          <li>
            <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
              <img src="img/license_button.png" alt="License Button">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- #Site Footer -->
