<!-- Site Footer -->
<footer class="app-footer">
  <div class="app-footer-r top">
    <!-- Meetup -->
    <div class="footer-wig-a">
      <div class="footer-wig-a-cont">
        <div class="footer-wig-a-img"><img src="img/meetup.png" alt="MaidSafe Meetup"></div>
        <h3>Join a Meetup</h3>
        <p>Find SAFE Network Meetups from all over the world.</p>
        <a href="#">Visit Meetup Page</a>
      </div>
    </div>
    <!-- #Meetup -->
    <!-- Community Forum -->
    <div class="footer-wig-a">
      <div class="footer-wig-a-cont">
        <div class="footer-wig-a-img"><img src="img/community.png" alt="MiadSafe Community"></div>
        <h3>Community Forum</h3>
        <p>Join in on the discussion on the community run forum.</p>
        <a href="#">Visit the website</a>
      </div>
    </div>
    <!-- #Community Forum -->
    <!-- Twitter -->
    <div class="footer-wig-a">
      <div class="footer-wig-a-cont">
        <div class="footer-wig-a-img"><img src="img/twitter.png" alt="MiadSafe Twitter"></div>
        <h3>Twitter</h3>
        <p>Follow us on twitter to get the latest news and info.</p>
        <a href="#">Visit our profile</a>
      </div>
    </div>
    <!-- #Twitter -->
  </div>
  <div class="spliter"></div>
  <div class="app-footer-r middle">
    <!-- Features -->
    <div class="footer-wig-b">
      <div class="footer-wig-b-cont">
        <h3>Features</h3>
        <ul>
          <li><a href="#">Self-Authenication</a></li>
          <li><a href="#">Self-Encryption</a></li>
          <li><a href="#">Distributed Network</a></li>
          <li><a href="#">Data Availabity</a></li>
          <li><a href="#">Deduplication</a></li>
        </ul>
      </div>
    </div>
    <!-- #Features -->
    <!-- Safecoin -->
    <div class="footer-wig-b">
      <div class="footer-wig-b-cont">
        <h3>Safecoin</h3>
        <ul>
          <li><a href="#">Point One</a></li>
          <li><a href="#">Second thing</a></li>
          <li><a href="#">Thing which is Fourth</a></li>
          <li><a href="#">The Last Point</a></li>
        </ul>
      </div>
    </div>
    <!-- #Safecoin -->
    <!-- Company -->
    <div class="footer-wig-b">
      <div class="footer-wig-b-cont">
        <h3>Company</h3>
        <ul>
          <li><a href="#">Who we are</a></li>
          <li><a href="#">What drives us</a></li>
          <li><a href="#">Roadmap</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- #Company -->
    <!-- FAQ -->
    <div class="footer-wig-b">
      <div class="footer-wig-b-cont">
        <h3>FAQs</h3>
        <ul>
          <li><a href="#">Frequently asked questions</a></li>
          <li><a href="#">Question still not answered?</a></li>
        </ul>
      </div>
    </div>
    <!-- #FAQ -->
  </div>
  <div class="app-footer-r bottom">
    <div class="footer-hz-li">
      <ul>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#"><img src="img/license_button.png" alt="License Button"></a></li>
      </ul>
    </div>
  </div>
</footer>
<!-- #Site Footer -->
