<footer>
  <div class="container-12">
    <div class="grid-3">
      <a href="/"><img src="./img/footer_logo.png" alt="maidsafe" width="150" height="167" class="logo-footer" /></a>
    </div>
    <div class="grid-2 footer-links text-right">
      <ul>
        <li><a href="getting-started" class="bold">Getting started</a>
        </li>
        <li><a href="getting-started#network">SAFE Network</a>
        </li>
        <li><a href="getting-started#apps">SAFE apps</a>
        </li>
        <li><a href="getting-started#safecoin">Safecoin</a>
        </li>
      </ul>
    </div>
    <div class="grid-3 footer-links text-left">
      <ul>
         <li><a href="about" class="bold">About</a>
        </li>
        <li><a href="about#community">Community</a>
        </li>
        <li><a href="about#company">Company</a>
        </li>
        <li><a href="about#timeline">Timeline</a>
        </li>
      </ul>
    </div>
    <div class="grid-2 footer-links text-right social">
      <ul>
        <li><a href="http://dev.maidsafe.net">Developers</a>
        </li>
        <li><a href="http://systemdocs.maidsafe.net" target="_blank">Documentation</a>
        </li>
        <li><a href="http://systemdocs.maidsafe.net/content/en/faqs/README.html" target="_blank">FAQ/Support</a>
        </li>
        <li><a href="eula" target="_blank">EULA</a>
        </li>
        <li class="google-icon">
          <a href="//plus.google.com/116247028454443786165?prsrc=3" rel="publisher" target="_blank" style="text-decoration:none;">
            <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;" />
          </a>
        </li>
      </ul>
    </div>
    <div class="grid-2 footer-links text-left social">
      <ul>
        <li><a href="http://blog.maidsafe.net">Blog</a>
        </li>
        <li><a href="contact">Contact</a>
        </li>
        <li><a href="credits">Credits</a>
        </li>
        <li><a href="privacy">Privacy Policy</a>
        </li>
        <li><a href="https://twitter.com/maidsafe" class="twitter-follow-button" data-show-count="false" data-size="small" data-show-screen-name="false">Follow @maidsafe</a>
        </li>
        <script>
          ! function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + '://platform.twitter.com/widgets.js';
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, 'script', 'twitter-wjs');
        </script>
      </ul>
    </div>
  </div>

  <div class="container-12">
    <div class="grid-12 cc-by">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0;margin:-2px" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> 
        <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
    </div>
  </div>
</footer>