<!-- Site Header -->
<header class="{{page.headerClass}}">
  <div class="header-base clearfix">
    <!-- Site Logo -->
    <div class="sec-1 col-xs-9 col-sm-5 col-md-3">
      <div id="site-logo" class="site-logo {{page.headerClass}}">
      <a class="gray-logo" href="./"><img src="./img/logo_white.svg" alt="MaidSafe Logo" /></a>
        <a class="color-logo" href="./"><img src="./img/logo_colour.svg" alt="MaidSafe Logo" /></a>
      </div>
    </div>
    <!-- #Site Logo -->
    <!-- Navigation -->
    <div class="sec-2 col-xs-3 col-sm-4 pull-right col-md-9">
      <!-- Primary Navigation -->
      <ul class="primary-nav hidden-xs hidden-sm">
        <li class=""><a href="./features.html">Features</a></li>
        <li class=""><a href="./safecoin.html">Safecoin</a></li>
        <li class=""><a href="./company.html">Company</a></li>
        <li class=""><a href="./faq.html">FAQ</a></li>
        <li class=""><a href="http://blog.maidsafe.net/" target="_blank">Blog</a></li>
      </ul>
      <!-- #Primary Navigation -->
    </div>
    <!-- #Navigation -->
    <div id="secNavButton" class="secNavButton hidden-md hidden-lg">Menu</div>
  </div>

  <!-- Secondary Navigation -->
  <div id="secNav" class="secondary-nav hidden-md hidden-lg">
    <ul class="nav-list">
      <li class=""><a href="./features.html">Features</a></li>
      <li class=""><a href="./safecoin.html">Safecoin</a></li>
      <li class=""><a href="./company.html">Company</a></li>
      <li class=""><a href="./faq.html">FAQ</a></li>
      <li class=""><a href="http://blog.maidsafe.net/" target="_blank">Blog</a></li>
    </ul>
  </div>
  <!-- #Secondary Navigation -->
</header>
<!-- #Site Header -->
