
<header>
  <div class="container-12 fw">
    <div class="grid-4">
      <a class="logo" href="/" title="Home"></a>
    </div>
    <div class="grid-8">
      <a class="menu-link" href="#menu">Menu</a>
      <nav id="menu" class="menu">
        <ul>
          <li class="getting-started notDownload"><a href="getting-started">Getting started</a></li>
          <li class="about notDownload"><a href="about">About</a></li>
          <li class="blog notDownload"><a href="http://blog.maidsafe.net/" target="_blank">Blog</a>
          <li class="support notDownload"><a href="https://maidsafe.org/" target="_blank">Support</a>
          <li class="developers notDownload"><a href="http://dev.maidsafe.net/">Developers</a></li>
          <li class="download "><a href="#"><button type="button" class="btn btn-download">Download</button></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>