<div class="grid-3 leftnav-shell">
  <ul class="leftnav">
    <li class="overview"><a href="overview">Overview</a>
    </li>
    <li class="features"><a href="distributed-network-features">Features</a>
    </li>
    <li class="applications"><a href="applications">Applications</a>
    </li>
    <li class="licensing"><a href="network-platform-licensing">Licensing</a>
    </li>
    <li class="roadmap"><a href="roadmap">Roadmap</a>
    </li>
    <li class="testimonials"><a href="testimonials">Testimonials</a>
    </li>
    <li class="safecoin"><a href="safecoin">Safecoin</a>
    </li>
  </ul>
</div>
