<div id="side-menu">
  <div class="globe"></div>
  <div class="menu-item" id="menu0">
    <div class="idle" ></div>
    <div class="active"></div>
  </div>
  <div class="menu-item" id="menu1" onClick="clickChange(-105, '.section1 .main-content', '#menu1', false)">
    <div class="idle" ></div>
    <div class="active"></div>
  </div>
  <div class="menu-item" id="menu2" onClick="clickChange(-120, '.section2 .main-content', '#menu2', false)">
    <div class="idle" ></div>
    <div class="active"></div>
  </div>
  <div class="menu-item" id="menu3" onClick="clickChange(-135, '.section3 .main-content', '#menu3', false)">
    <div class="idle" ></div>
    <div class="active"></div>
  </div>
  <div class="menu-item menu-top" id="menu4" onClick="clickChange(0, '#main', null)">
    <div class="idle" ></div>
    <div class="active"></div>
  </div>
</div>