<div class="container-12 section3">
  <div class="grid-9 main-content" id="timeline">
    <h2>Timeline</h2>
    <div class="grid-9 wrapper">
      <div class="top">Today... Just the beginning!</div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="bubble blue left">MaidSafeCoin market cap reaches 3x crowdsale level</div>
      <div class="dot blue"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot mobile"></div>
      <div class="bubble orange right up3c">Test net 2 launched</div>
      <div class="dot orange"></div>
      <div class="dot"></div>
      <div class="dot mobile"></div>
      <div class="bubble pink left">David and Nick explain the network on the Keiser Report</div>
      <div class="dot pink"></div>
      <div class="dot"></div>
      <div class="dot mobile"></div>
      <div class="dot mobile"></div>
      <div class="bubble violet right up3 up22c">Test net 1 launched</div>
      <div class="dot violet"></div>
      <div class="dot"></div>
      <div class="dot mobile"></div>
      <div class="bubble teal left">Example application 1 released</div>
      <div class="dot teal"></div>
      <div class="dot"></div>
      <div class="bubble purple right up3c">30 day crowdsale achieves target in less than 3 days</div>
      <div class="dot purple"></div>
      <div class="dot mobile"></div>
      <div class="dot mobile"></div>
      <div class="bubble blue left up22 up40c">500 developers sign up to develop on the SAFE Network</div>
      <div class="dot blue"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="bubble pink right">Announcement of Project SAFE to Inside Bitcoins New York</div>
      <div class="dot pink"></div>
      <div class="dot mobile"></div>
      <div class="dot mobile"></div>
      <div class="dot mobile"></div>
      <div class="bubble orange left up22 up40c up52d">BitAngels propose to lead investment in crowdsale</div>
      <div class="dot orange"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="bubble violet right">2nd US patent granted</div>
      <div class="dot violet"></div>
      <div class="bubble teal left up6 up20d">Forbes and Wall Street Journal introduce MaidSafe's technology to the masses</div>
      <div class="dot teal"></div>
      <div class="dot"></div>
      <div class="dot mobile"></div>
      <div class="dot mobile"></div>
      <div class="dot mobile"></div>
      <div class="bubble purple right up6 up22b up52c up62d">Excitement building from well-respected and influential reporters, resulting in very high activity of interviews and meetings</div>
      <div class="dot purple"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot mobile"></div>
      <div class="dot mobile"></div>
      <div class="bubble blue left up18 up32b up66c up58d">Website visitors increase by 500%</div>
      <div class="dot blue"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot mobile"></div>
      <div class="year">2014</div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="bubble orange right">Vault code rewritten from scratch (4 years work rewritten)</div>
      <div class="dot orange"></div>
      <div class="dot"></div>
      <div class="bubble pink left up3 up22c up6d">Smaller, more focused research team rewriting and implimenting code on various MS libraries</div>
      <div class="dot pink"></div>
      <div class="dot"></div>
      <div class="bubble violet right up6 up36b up52c up36d">MaidSafe open source all libraries</div>
      <div class="dot violet"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="year">2013</div>
      <div class="dot"></div>
      <div class="bubble teal right">MS DHT replaced with RUDP and Routing</div>
      <div class="dot teal"></div>
      <div class="bubble purple left up6 up22b up22c up22d">MaidSafe Foundation host day trip annually for children from Chernobyl Childrens Lifeline</div>
      <div class="dot purple"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="year">2012</div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="bubble blue right">In final prelaunch stages of p2p MaidSafeDHT</div>
      <div class="dot blue"></div>
      <div class="bubble orange left up6 up22b up40c up22d">Nine months testing components of technology at NHS</div>
      <div class="dot orange"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="year">2011</div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="bubble pink right">David donates all his shares (80% of the company) - 50% to the foundation, 30% to the EBT</div>
      <div class="dot pink"></div>
      <div class="dot"></div>
      <div class="bubble violet left up22 up52c up22d">Successfull development of MaidSafeDHT</div>
      <div class="dot violet"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="year">2010</div>
      <div class="dot"></div>
      <div class="bubble teal right">MaidSafe move on from their desks at the back of a bridal store</div>
      <div class="dot teal"></div>
      <div class="bubble purple left up22 up36b up52c up40d">MaidSafe is developing MaidSafe PD (Perpetual Data)</div>
      <div class="dot purple"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="bubble blue right up6c">Begin development of MaidSafeDHT</div>
      <div class="dot blue"></div>
      <div class="dot"></div>
      <div class="bubble orange left up3b up3c up3d">Rewrite entire system in C++ for significant efficiency improvements</div>
      <div class="dot orange"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="year">2009</div>
      <div class="dot"></div>
      <div class="bubble pink right">Early version of network available in Python</div>
      <div class="dot pink"></div>
      <div class="dot"></div>
      <div class="bubble violet left up3b up22c up3d">David presents at Google's Seattle Conference on Scalability, resulting in lunch with Vint Cerf</div>
      <div class="dot violet"></div>
      <div class="dot"></div>
      <div class="bubble teal right up3 up22b up52c up36d">Cyber Cash and World Wide Voting System patent applications submitted</div>
      <div class="dot teal"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="year">2008</div>
      <div class="dot"></div>
      <div class="bubble purple left">David spends a considerable amount of time in the Czech Republic completing a successful proof of concept available in Python</div>
      <div class="dot purple"></div>
      <div class="dot"></div>
      <div class="bubble blue right up18 up52b up84c up52d">All core patent applications published</div>
      <div class="dot blue"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="year">2007</div>
      <div class="dot"></div>
      <div class="bubble orange left">Business plan summary "MaidSafe will be free to download from the Internet"</div>
      <div class="dot orange"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="bubble pink right up14c">MaidSafe Foundation Agreed</div>
      <div class="dot pink"></div>
      <div class="bubble violet left up6 up22c up6d">11 patent applications submitted</div>
      <div class="dot violet"></div>
      <div class="dot"></div>
      <div class="bubble teal right up6c">22 Feb 2006 MaidSafe.net founded</div>
      <div class="dot teal"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="year">2006</div>
    </div>
  </div>
</div>
